%p#notice= notice

%p
  %b First name:
  = @profile.first_name
%p
  %b Last name:
  = @profile.last_name
%p
  %b Phone number:
  = @profile.phone_number
%p
  %b Location:
  = @profile.location
%p
  %b User:
  = @profile.user

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
