<!doctype html>  
  <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Prizzm - Your voice about your products</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    
    <%= stylesheet_link_tag 'boilerplate', '960', 'landing', 'font', 'nivo-slider' -%>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" -%>
    <%= javascript_include_tag 'jquery.nivo.slider.pack' -%>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#banner-slider').nivoSlider({
          effect: 'slideInLeft',
          animSpeed: 500,
          pauseTime: 3000,
          startSlide: 0,
          pauseOnHover: true,
          directionNav: false,
          controlNav: false
        });
        
        $('#login').click(function(){
          $('#login-drop').slideDown();
        });
      });
    </script>
    <div id="blackbar"></div>
    <div id="bannerbar"><span></span></div>
    <div id="searchbar"></div>
    
    <div id="container" class="container_12">
      <header>
        <h1 class="grid_3"><a href="/" rel="index">PRIZZM</a></h1>
        <nav class="grid_7">
          <ul>
            <li><a href="">Why Prizzm?</a></li>
            <li><a href="">Tour</a></li>
            <li><a href="" class="alt">Start adding things!</a></li>
          </ul>
        </nav>
        <ul class="grid_2">
          <li><a href="">Help</a></li>
          <li id="login">
            <a>Login</a>
            <div id="login-drop">
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <%#= link_to new_registration_path(resource_name), :id => "signup", :class => "round" do %>
                <%# end %>
                <%= f.text_field :email, :class => "round", :placeholder => "email" %>
                <%= f.password_field :password, :class => "round", :placeholder => "password" %>
                <%= f.submit :id => "submit", :value => "login" %>
                <span><input type="checkbox" checked="true" /> Remember me </span>
                <a href="<%= new_password_path(resource_name) %>" id="forgot" class="clearfix">Forgot something?</a>
              <% end %>
              <ul>
                <li>
                  <%= link_to image_tag('/images/landing/fb-login-button.png'), omniauth_authorize_path(resource_name, :facebook) -%>
                </li>
                <li>
                  <%= link_to image_tag('/images/landing/login-with-twitter.png'), omniauth_authorize_path(resource_name, :twitter) -%>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </header>
    
      <div id="banner" class="grid_12">
        <ul>
          <li class="share">
            <div id="banner-slider">
              <img src="/images/landing/temp.png" />
              <img src="/images/landing/temp.png" />
              <img src="/images/landing/temp.png" />
            </div>
          </li>
        </ul>
      </div>
      
      <form action="" id="search" class="grid_12">
        <input type="text" placeholder="Start exploring by searching for something you have..." /><input type="submit" value=""/>
      </form>
    
      <div class="clear"></div>
      
      <div id="main">
        <div id="brands" class="grid_12">
          <h3><span>supporting brands</span></h3>
          <ul>
            <li class="grid_3"><a href=""><img src="/images/landing/bryna.png" /></a></li>
            <li class="grid_2"><a href=""><img src="/images/landing/apple.png" /></a></li>
            <li class="grid_2"><a href=""><img src="/images/landing/volkswagon.png" /></a></li>
            <li class="grid_2"><a href=""><img src="/images/landing/apple.png" /></a></li>
            <li class="grid_2"><a href=""><img src="/images/landing/volkswagon.png" /></a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <div id="p-buying" class="grid_6">
          <h3><span>what people are <em>buying</em></span></h3>
          <ul>
            <li>
              <a href="">
                <img src="http://beta.prizzm.com.s3.amazonaws.com/uploads/item_image/image/13/reell_g7th_performance_guitar_capo_2-400-400.jpg" alt="" />
                <p>300 people bought this</p>
              </a>
            </li>
            <li>
              <a href="">
                <img src="http://beta.prizzm.com.s3.amazonaws.com/uploads/item_image/image/13/reell_g7th_performance_guitar_capo_2-400-400.jpg" alt="" />
                <p>60 people bought this</p>
              </a>
            </li>
            <li>
              <a href="">
                <img src="http://beta.prizzm.com.s3.amazonaws.com/uploads/item_image/image/13/reell_g7th_performance_guitar_capo_2-400-400.jpg" alt="" />
                <p>80 people bought this</p>
              </a>
            </li>
            <li>
              <a href="">
                <img src="http://beta.prizzm.com.s3.amazonaws.com/uploads/item_image/image/13/reell_g7th_performance_guitar_capo_2-400-400.jpg" alt="" />
                <p>1000+ people bought this</p>
              </a>
            </li>
            <li>
              <a href="">
                <img src="http://beta.prizzm.com.s3.amazonaws.com/uploads/item_image/image/13/reell_g7th_performance_guitar_capo_2-400-400.jpg" alt="" />
                <p>290 people bought this</p>
              </a>
            </li>
            <li>
              <a href="">
                <img src="http://beta.prizzm.com.s3.amazonaws.com/uploads/item_image/image/13/reell_g7th_performance_guitar_capo_2-400-400.jpg" alt="" />
                <p>1 person bought this</p>
              </a>
            </li>
          </ul>
        </div>
        <div id="p-saying" class="grid_6">
          <h3><span>what people are <em>saying</em></span></h3>
          <ul>
            <li>
              <img src="http://ohsogeoff.com/images/me.png" alt="" />
              <div class="fl">
                <h4>G7th Performance Guitar Capos</h4>
                <p>Professional product designer, and avid guitarist Nick Campling designed the G7th guitar capos after years of struggling with the existing capos, which can often... <a href="">Read more</a>.</p>
                <div class="rating"></div>
              </div>
              <div class="clear"></div>
            </li>
            <li>
              <img src="http://ohsogeoff.com/images/me.png" alt="" />
              <div class="fl">
                <h4>G7th Performance Guitar Capos</h4>
                <p>Professional product designer, and avid guitarist Nick Campling designed the G7th guitar capos after years of struggling with the existing capos, which can often... <a href="">Read more</a>.</p>
                <div class="rating"></div>
              </div>
              <div class="clear"></div>
            </li>
            <li>
              <img src="http://ohsogeoff.com/images/me.png" alt="" />
              <div class="fl">
                <h4>G7th Performance Guitar Capos</h4>
                <p>Professional product designer, and avid guitarist Nick Campling designed the G7th guitar capos after years of struggling with the existing capos, which can often... <a href="">Read more</a>.</p>
                <div class="rating"></div>
              </div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      
    </div> <!-- end of #container -->

    <footer>
      <ul class="container_12">
        <li class="grid_2">
          <h5>Prizzm</h5>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Why Prizzm?</a></li>
            <li><a href="">Tour</a></li>
            <li><a class="alt" href="">Start adding things!</a></li>
            <li><a href="">Login</a></li>
          </ul>
        </li>
        <li class="grid_2">
          <h5>Company</h5>
          <ul>
            <li><a href="">About us</a></li>
            <li><a href="">Customers</a></li>
            <li><a href="">Careers</a></li>
          </ul>
        </li>
        <li class="grid_2">
          <h5>Support</h5>
          <ul>
            <li><a href="">Help centre</a></li>
            <li><a href="">API</a></li>
          </ul>
        </li>
        <li class="grid_2">
          <h5>Partners</h5>
          <ul>
            <li>Coming soon</li>
          </ul>
        </li>
            <li class="grid_2">
          <h5>Get in touch</h5>
          <ul>
            <li><a href="">42 Golden Gate Bridge<br />San Francisco</a></li>
            <li><a href="">+90 000 000</a></li>
            <li><a href="">contact@prizzm.com</a></li>
          </ul>
        </li>
            <li class="grid_2">
          <h5>Blog</h5>
          <ul>
            <li>Maybe a blog?</a></li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div id="copyright">Prizzm.com &copy; . Prizzm LLC, all rights reserved . <a href="">Terms</a> & <a href="">Privacy</a></div>
        <div class="clear"></div>
    </footer>
  </body>
</html>
