%li.row{:id => "comment-#{comment.id}-content", :class => "#{is_child_comment?(comment)}"}
  .cell.img
    = image_tag comment.user.photo.url
  .cell.comm
    = link_to comment.user.name, profile_path(comment.user)
    \- 
    = comment.body
    .comm-ft
      = "#{time_ago_in_words(comment.created_at)} ago"
      \|
      = link_to "", comment_path(object_type(commentable),  commentable.id, comment.id), :'data-commentid' => comment.id, :class => 'close', :remote => true, :'data-method' => :delete, :format => :js if belongs_to_current_user?(comment)
      - if user_signed_in?
        = link_to "Reply", "#", :class => "reply-comment", :comment_id => "#{comment.id}"
        %div{:id => "comment-#{comment.id}-reply", :style => "display:none" }
          = comment_form_for commentable, comment.id

  = render :partial => "comments/comment", :collection => comment.children, :as => :comment, :locals => { :commentable => commentable }
