%div{:class => 'comment-content', :id => "comment-#{comment.id}-content"}
  .comment-user= comment.user.name
  .user-image
    .comment-profile-image= image_tag comment.user.photo.url
  .user-content
    .comment-comment= comment.comment
  .comment-created-at #{time_ago_in_words(comment.created_at)} ago
  .delete-comment= link_to 'Delete Comment', comment_path(commentable.class.to_s.underscore,  commentable.id, comment.id), :'data-commentid' => comment.id, :class => 'delete-comment-link', :remote => true, :'data-method' => :delete, :'data-type' => :json
