- content_for :page_style do
  = include_stylesheets :people
  
= form_tag people_search_path
= text_field_tag 'query', '', :placeholder => "Who are you looking for?"
%ul#results.people

= content_for :javascripts do
  :javascript
    $('#query').autocomplete({
      source: function(request, record){
        $.ajax({
          url      : '#{people_search_path}',
          data     : {
            query: request.term
          },
          cache: false,
          dataType : 'html',
          success : function(html) {
            $('#results').html(html);
          }
        })
      }
    })
    
    .keydown(function(event){
      if (event.which == 13) {
        $(this).autocomplete('search');

        return false;
      }
    });
