- content_for :page_style do
  = include_stylesheets :people
  = include_stylesheets :yourstuff

#content.grid_13
  %nav#secondary
    %ul
      %li.curr= link_to "All", ""
      
  #main      
    = form_tag people_search_path
    = text_field_tag 'query', '', :placeholder => "Who are you looking for?"
    .clear
    %ul#results.people

= render :partial => "layouts/sidebar"

= content_for :javascripts do
  :javascript
    $('#query').autocomplete({
      source: function(request, record){
        $.ajax({
          url      : '#{people_search_path}',
          data     : {
            query: request.term
          },
          cache: false,
          dataType : 'html',
          success : function(html) {
            $('#results').html(html);
          }
        })
      }
    })
    
    .keydown(function(event){
      if (event.which == 13) {
        $(this).autocomplete('search');

        return false;
      }
    });
