#content.grid_13
  %nav#secondary
    %ul
      %li.curr= link_to "All", ""

  %ul.items
    - if @items.count > 0
      - @items.each do |item|
        %li.item{:id => "item_#{item.id}", :class => "item-rec"}
          .fl.img
            = image_tag item.user.main_image, :class => "thumb"
            %span= image_tag item.main_image, :class => "small thumb"
          .fl.cont
            - if item.product.nil? == false
              %h2= link_to item.product.name, item
            - else
              %h2= link_to item.name, item
            = link_to item.user.name, profile_path(item.user)
            - if item.tag_list.include? 'have'
              has 
            - elsif item.tag_list.include? 'want'
              wants 
            this and
            - if item.opinion == 2
              %div{ :class => "opinion hate" } doesn't recommend
            - elsif item.opinion == 1
              %div{ :class => "opinion recommended" } recommends
            - else
              %div{ :class => "opinion neutral" } has no opinion about
            it.
          %ul.fr
            /
              %li
                = link_to "#", :class => "rec button" do
                  = image_tag "rec-thumb.png"
                  Recommend this
            %li= link_to "View this item", item, :class => "button"
            /= link_to "", [current_user, item], :remote => true, :method => :delete, :class => "close", :confirm => "Are you sure you want to delete this item?"
          .clear
    - else
      %li No public items
    
= render :partial => "layouts/sidebar"
