%h1 Listing incentives

%table
  %thead
    %tr
      %th Description
      %th Expiration
      %th Code
      %th Edit
      %th Delete

  %tbody
    - @incentives.each do |incentive|
      %tr
        %td= incentive.description
        %td= incentive.expiration.try(:strftime, '%m/%d/%Y')
        %td= incentive.code
        %td
          = link_to edit_incentive_path(incentive) do
            = edit_icon
        %td
          = link_to incentive, :confirm => 'Are you sure?', :method => :delete do
            = delete_icon

%br

= link_to 'Add a New Incentive', new_incentive_path, :class => 'btn primary large'
