- content_for :page_style do
  = include_stylesheets 'items-page'

%aside.grid_3
  = render 'items/images'
  .clear

  = fields_for ItemImage.new do |f|
    = f.file_field :image, :rel => item_images_path(@item)                        

  = photo_uploadify

.grid_6
  #edit-item
    = link_to "Edit", edit_owned_item_path(@item.id), :class => "facebox"
  
  #item-name
    %h2.edit Your #{@item.name}
  %div{:id => "stats"}
    %div{:id => "item_#{@item.id}_rating", :class => "rating"}
      = form_for [@user, @item], :remote => true do |f|
        %div{:id => "stars-wrapper-#{@item.id}"}
          = f.collection_select :rating, [1, 2, 3, 4 ,5], :to_s, :to_s, {}
      = render :partial => 'items/privacy_controls', :locals => {:item => @item }
  
  #review
    %h3 Review
    = @item.review

  #new_interaction_box
    #interaction_input_box
      = form_for [@item, @interaction = Interaction.new], :remote => true do |f|
        #share-input
          = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts...", :placeholder => "Share your thoughts..."
          .cancel
        .clear
        %ul.social
          %li Share to 
          %li.button.twitter
            twitter
            .cancel
            = f.check_box :shared_twitter, :class => 'shared_checkbox', :id => 'interaction_shared_tt', :checked => "true"
          %li.button.fb
            facebook
            .cancel
            = f.check_box :shared_twitter, :class => 'shared_checkbox', :id => 'interaction_shared_tt', :checked => "true"
        .clear
        = f.submit 'Share', :id => 'item-interaction-submit', :class => "button"
        
        .clear

  #interactions
    - if @item.interactions.count == 0
      Be the first to share your thoughts!
    - else
       
    #interactions_feed= render :partial => 'home/interaction', :collection => @item.interactions.order('created_at desc')

%aside.grid_3
  %article#ask
    %header.clearfix
      %h1 Ask your friends
    = render 'social/item_ask_friends'
  
  %article#survey
    %header.clearfix
      %h1 Survey

- content_for :jquery do
  :javascript
    $(document).ready(function(){

      $("#stars-wrapper-#{@item.id}").stars({
        inputType: "select",
    	callback: function(ui, type, value, event){
          var item = #{@item.id};
          update_rating('items', item,value);
        },
        cancelShow: false
      });

      $("#interaction_stars").stars({
        inputType: "select",
        cancelShow: false
      });

      if (document.location.hash === "#write_review"){
    	$('#review .edit').trigger('click.editable');
      }
      
    });


