- content_for :page_style do
  = include_stylesheets 'items-page'

%aside.grid_3
  = render 'items/images'
  .clear

  = fields_for ItemImage.new do |f|
    = f.file_field :image, :rel => item_images_path(@item)                        

  = photo_uploadify

.grid_6
  %h2 Your #{@item.name}
  %div{:id => "stats"}
    %div{:id => "item_#{@item.id}_rating", :class => "rating"}
      = form_for [@user, @item], :remote => true do |f|
        %div{:id => "stars-wrapper-#{@item.id}"}
          = f.collection_select :rating, [1, 2, 3, 4 ,5], :to_s, :to_s, {}
      = render :partial => 'items/privacy_controls', :locals => {:item => @item }
  
  #review
    %h3 Review
    /= link_to "edit" Removed, since we're not really using the link
    .edit
      = @item.review

  #new_interaction_box
    #interaction_input_box
      = form_for [@item, @interaction = Interaction.new], :remote => true do |f|
        #share-input
          = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts...", :placeholder => "Share your thoughts..."
          .cancel
        .clear
        %ul.social
          %li Share to: 
          %li.twitter_button
            twitter
            = f.check_box :shared_twitter, :class => 'shared_tt_checkbox', :id => 'interaction_shared_tt'
          %li.facebook_button
            facebook
            = f.check_box :shared_facebook, :class => 'shared_fb_checkbox', :id => 'interaction_shared_fb'
        .clear
        = f.submit 'Share', :id => 'item-interaction-submit', :class => "button"
        
        .clear

  #interactions
    - if @item.interactions.count == 0
      Be the first to share your thoughts!
    - else
       
    #interactions_feed= render :partial => 'home/interaction', :collection => @item.interactions.order('created_at desc')

%aside.grid_3
  %article#ask
    %header.clearfix
      %h1 Ask your friends
  
  %article#survey
    %header.clearfix
      %h1 Survey

- content_for :jquery do
  :javascript
    $(document).ready(function(){
      clearInteraction();
      
      $('#interaction-input').focus(function(){
    	$(this).addClass('input-active');
    	$('#interaction_submit').show();
    	$('#share-input .cancel').show();
    	$('#new_interaction_box .social').show();
    	$('#item-interaction-submit').show();
      });

      $('#share-input .cancel').click(clearInteraction);
      $('#item-interaction-submit').click(clearInteraction);

      function clearInteraction(){
        $('#interaction-input').removeClass('input-active');
    	$('#share-input .cancel').hide();
    	$('#new_interaction_box .social').hide();
    	$('#item-interaction-submit').hide();
    	$('#interaction-input').val('');
      }

      $("#stars-wrapper-#{@item.id}").stars({
        inputType: "select",
    	callback: function(ui, type, value, event){
          var item = #{@item.id};
          update_rating('items', item,value);
        },
        cancelShow: false
      });

      $("#interaction_stars").stars({
        inputType: "select",
        cancelShow: false
      });
  
      $("#interaction-input").autoGrow();
  
      $('#review .edit').editable("#{update_item_review_path(@item)}", {
        indicator : "Saving...",
        type      : "textarea",
        submit    : 'OK',
        method    : 'PUT',
        cancel    : 'cancel',
        tooltip   : "Click to edit your review...",
        onblur    : "submit",
        submitdata: {id: #{@item.id}},
        name      : "review",
        cssclass  : "review-input"
      });

      if (document.location.hash === "#write_review"){
    	$('#review .edit').trigger('click.editable');
      }
  
      $('#new_interaction')
      .live('ajax:success', function(event, data, status, xhr){
        // Add the newly created interaction to the page, and alert the user.
    	$('#interactions_feed').prepend(xhr.responseText);
    	$('#interactions_feed .interaction-content:first-child').effect('highlight', {}, 2000)

        //http://stackoverflow.com/questions/680241/blank-out-a-form-with-jquery
    	$(':input','#new_interaction')
    	.not(':button, :submit, :reset, :hidden')
        .val('')
        .removeAttr('checked')
        .removeAttr('selected');

        $('#new_interaction')[0].reset();

      });

      $('#interactions_feed').delegate('a', 'ajax:success', function(event, data, status, xhr){
        var interactionid = data + '';
        $('#interaction-' + interactionid + '-content').fadeOut();
      });

      $('.delete-item').delegate('a', 'ajax:success', function(event, data, status, xhr){
        var itemid = data + '';
        $('#item_'+itemid).fadeOut();
      });

      $('.interaction-content').live('mouseenter', function(){
        $(this).addClass('hover');
      });

      $('.interaction-content').live('mouseleave', function(){
        $(this).removeClass('hover');
      });
  
    });



