= semantic_form_for @prizzm_invitation do |f|
  -if @prizzm_invitation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prizzm_invitation.errors.count, "error")} prohibited this prizzm_invitation from being saved:"
      %ul
        - @prizzm_invitation.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name, :label => "Invitation Name"
  = f.input :product, :label => "Select Product", :as => :select,  :collection => options_from_collection_for_select(current_company.products, 'id', 'name'),  :include_blank => false
  = f.input :incentive, :label => "Select Incentive", :as => :select, :collection => options_from_collection_for_select(current_company.incentives, 'id', 'code', @prizzm_invitation.incentive.try(:id)), :include_blank => true,  :prompt => "None"
  = f.input :prizzm_mail_template, :label => "Select Mail Template", :as => :select, :collection => options_from_collection_for_select(current_company.prizzm_mail_templates, 'id', 'name', @prizzm_invitation.prizzm_mail_template.try(:id)), :include_blank => true,  :prompt => "Default"
  .row
    %h3.offset1 Invitation Recipients
    %table.span3.offset3
      %thead
      %tbody
        - current_company.clients.each do |client|
          %tr
            %td #{client.first_name} #{client.last_name}
            %td= check_box_tag 'clients[]', client.id, @prizzm_invitation.client_ids.include?(client.id)

  = f.commit_button "Save", :button_html => {:class => "btn primary large offset2"}
