%h2= @prizzm_invitation.name
%br

%h3 Invitation Metrics for the #{@prizzm_invitation.product.try(:name)}
%table
  %thead
    %tr
      %th Status
      %th Sent
      %th unset
      %th Page Visits
      %th Reviews Written
      %th FB Logins
      %th Prizzm Logins
      %th Shares to FB
  %tbody
    %tr
      %td
        - if @prizzm_invitation.status == 'sent'
          Sent on: #{@prizzm_invitation.invitation_sent_at.strftime '%m/%d/%Y'}
      %td= @prizzm_invitation.sent.count
      %td= @prizzm_invitation.unsent.count
      %td= @prizzm_invitation.landing_page_visited.count
      %td= @prizzm_invitation.wrote_review.count
      %td= @prizzm_invitation.logged_in_with_fb.count
      %td= @prizzm_invitation.logged_in_with_prizzm.count
      %td= @prizzm_invitation.shared_item_to_fb.count

%h3 Incentive:
- if @prizzm_invitation.incentive
  %p.alert-message.success= @prizzm_invitation.incentive.description
- else
  %p.alert-message.error None

  
- if @prizzm_invitation.clients.count > 0
  %h3 Clients
  %table.zebra-striped
    %thead
      %tr
        %th Name
        %th Clicked Email
        %th Wrote Review
        %th Used FB
        %th Logged in with Prizzm
        %th Shared Item to FB
        %th Invitation Status
        %th 
        %th Last Sent
    %tbody

      - @prizzm_invitation.clients.each do |client|
        - sale = @prizzm_invitation.sale_for client
        %tr
          %td #{client.first_name} #{client.last_name} 
          %td #{sale.landing_page_visited && "Yes" || "No"}
          %td
            - if sale.wrote_review 
              - if client.user
                = link_to("Read Review", show_item_path(client.user, client.user.items.where(:product_id => @prizzm_invitation.product.id).first))
              - else
                Yes
            - else
              No
          %td #{sale.logged_in_with_fb && "Yes" || "No"}
          %td #{sale.logged_in_with_prizzm && "Yes" || "No"}
          %td #{sale.shared_item_to_fb && "Yes" || "No"}
          %td #{sale.invitation_status}
          %td= link_to "Resend Invitation", send_prizzm_invitation_path(@prizzm_invitation, client.id), :method => :post
          - if sale.invitation_sent_at
            %td #{sale.invitation_sent_at.strftime '%m/%d/%Y'}

  %p= link_to "Send invitations", send_prizzm_invitation_path(@prizzm_invitation), :method => :post, :class => "btn primary large"
- else
  %p= link_to "Select Recipients", edit_prizzm_invitation_path(@prizzm_invitation), :class => "btn primary large"
%br
= link_to 'Edit', edit_prizzm_invitation_path(@prizzm_invitation)
\|
= link_to 'Back', prizzm_invitations_path
