%aside.grid_5
  = render :partial => "layouts/system_menu"
  
  %article
    %h4 Make a call
    = text_field_tag "", "", :placeholder => "Enter a number to call"
    = link_to "Call", "#", :class => "twiliocall button", :id => "call"
    .clear
    
  - if @case.company.nil? == false
    %article#company_addresses
      %h4= "Company: #{@case.company.name}"
      = formatted_addresses_for(@case.company)

      %a{ :class => 'button contact add' } Add
      .clear
  
  %article#ask_friends
    %h4 Ask your friends for help
    = form_tag case_post_to_facebook_path(@case), :remote => true, :class => "table", :id => "form-ask-friend" do
      = text_field_tag :message, "", :placeholder => "Message"
      %ul.finalstep
        %li.fb{:title => "post to facebook"}
          / facebook checkbox goes here
        %li.tt
          / twitter checkbox goes here
        %li.privacy
          / privacy drop down goes here
        %li
          = hidden_field_tag :link, case_url(@case)
          = link_to "ask", "#", :id => 'button-ask-friend', :class => "button"
          .loading{:style => "display:none;float:right"}
      .clear
  %artical#case_files
    %h4 Upload files
    = semantic_form_for @case, :html => { :multipart => true } do |f|
      = f.fields_for :case_files do |cf|
        - if cf.object.casefile.present?
          = link_to File.basename(cf.object.casefile_url), cf.object.casefile_url
          \-
          /= link_to cf.object.privacy, "#"
          /= link_to "#{cf.object.privacy}", update_case_file_privacy_path(cf.object), :remote => true, :method => :put, :class => "#{cf.object.privacy} status privacy_control"
          = link_to "#{cf.object.privacy}", "#", :remote => true, :method => :put, :class => "#{cf.object.privacy} status privacy_control"
          = cf.check_box :_destroy
          Remove
        - else
          = cf.input :casefile, :as => :file, :label => false
      = f.submit

#call-window{:style => "display:none"}
  %div#call-window-container
    #call_container
      #call_container_buttons{:style => "display:none"}
        #call_computer{:onmouseout => "this.style.backgroundColor='#A1A1A3';", :onmouseover => "this.style.backgroundColor='#4D90FE';"}
          %div
            Call from my computer
        #call_phone{:onmouseout => "this.style.backgroundColor='#A1A1A3';", :onmouseover => "this.style.backgroundColor='#4D90FE';"}
          %div
            Call me on my phone
            
      / Collect input: by computer
      #call_container_numbers_computer{:style => "display:none"}
        %div
          %form#callform_computer
            %label{:for => "number"} Enter a phone number to call
            %p{:class => 'notice'}
            %input#number{:name => "number", :type => "text"}/
            %button.button.blue Call
            
      / Collect input: by phone
      #call_container_numbers_phone{:style => "display:none"}
        %div
          %form#callform_phone{:action => "/calls", :method => "post", :style => "font-size:12px;text-align:left"}
            %p{:class => 'notice'}
            %label{:for => "from"} From
            %input#from{:name => "from", :type => "text", :value => @case.user.phone_number }/
            %label{:for => "to"} To
            %input#to{:name => "to", :type => "text" }/
            %button.button.blue Call
            
      / Info: on call
      #oncall{:style => "display:none"}
        %div
          %p{:style => "font-size: 14px;font-weight: bold;"} On call with
          %p{:style => "font-size: 16px;margin:30px 0;"}
            %span#callnumber
          %button.button.hangup{:onclick => "hangup();"} Hangup
          
      / Info: on call
      #placingcall{:style => "display:none"}
        %div
          %p{:style => "font-size: 14px;font-weight: bold;margin-bottom:40px"} Placing your call...
          %button.button{:onclick => "hangup();"} Close Window
          
      / Info: calling
      #calling{:style => "display:none"}
        %div
          %p{:style => "font-size: 14px;font-weight: bold;"} Calling...
          %p{:style => "font-size: 16px;margin:30px 0;"}
            %span#callingnumber
          %button.button{:onclick => "hangup();"} Cancel
          
    / Call container
    %div.close_call{:onclick => "close_callwindow();", :title => "Close"}
      %img{:alt => "Close", :src => "/images/close.png", :style => "z-index:2"}/
