= include_stylesheets :wysiwyg

%h2 Edit case

= form_for @case, :html => {:class => 'action addhave addItem'} do |f|
  = f.text_field :title, :placeholder => "What's your issue"
  = f.text_area :description, :cols => nil, :rows => nil
  = f.text_field :tag_list, :placeholder => "Add some tags"

  = f.hidden_field :company_id
  = f.hidden_field :product_id

  %ul.sharing.fl
    %li.fb{:title => "post to facebook"}
      / facebook checkbox goes here
    %li.tt{:title => "share to twitter"}
      / twitter checkbox goes here
    %li.privacy
      = f.check_box :privacy, {}, 'private', 'public'
      = f.label :privacy, 'Mark Private'

  %ul.buttons.fr
    %li= button_to "Cancel"
    %li= f.submit "Save"
  .clear

  .fl= link_to "Delete case", case_path(@case), :confirm => "Are you sure?", :method => 'delete'



= include_javascripts :wysiwyg

:javascript
  // This should be in the global javascript?
  $('li').filter('.fb, .tt').tipsy({
      gravity: 'n',
      fade: true
  });
  

  // Product Auto Complete
  #{ render "items/product_autocomplete.js" }

  $('#product_name').autocompleteProduct({
      select: function (event, ui) {
          if (ui.item.company) {
              $('#company_id').val(ui.item.company.id);
              $('#company_name').val(ui.item.company.name);
          }

          $('#product_id').val(ui.item.id);
      }
  });


  // Reset product
  $('#product_name').change(function () {
      $('#product_id').val('');
  });



  // Company Auto Complete
  #{ render "items/company_autocomplete.js" }

  $('#company_name').autocompleteCompany({
      select: function (event, ui) {
          $('#company_id').val(ui.item.id);
      }
  });

  // Reset company
  $('#company_name').change(function () {
      $('#company_id').val('');
  });



  // Tags
  #{ render "tags/new_taggable.js.haml", :taggable => @case }

  $('#case_description').wysiwyg({
    controls: {
        bold: { visible: true },
        italic: { visible: true },
        underline: { visible: true },
        strikeThrough: { visible: true },

        justifyLeft: { visible: true },
        justifyCenter: { visible: true },
        justifyRight: { visible: true },
        justifyFull: { visible: true },

        undo: { visible: true },
        redo: { visible: true },

        insertOrderedList: { visible: true },
        insertUnorderedList: { visible: true },

        createLink: { visible: true },
        insertImage: { visible: true },

        paragraph: { visible: true },
    },
    rmUnusedControls: true
  });
