- content_for :page_style do
  = include_stylesheets :yourstuff

#content.grid_13
  %nav#secondary
    %ul
      %li= link_to "Have", have_path(current_user)
      %li= link_to "Want", want_path(current_user)
      %li.curr= link_to "Case", user_cases_path(current_user)
  #main
    = render :template => 'cases/new'
    %ul.cases
      - @cases.each do |user_case|
        %li.case{:id => "user_case_#{user_case.id}"}
          .fl.cont
            %h2
              = user_case.case_reference
              = link_to user_case.title, case_path(user_case)
            Added: #{user_case.created_at.strftime '%m/%d/%Y'}
            %div{ :class => "status #{user_case.privacy}" }= user_case.privacy
            \-
            Open
          %ul.fr
            %li= link_to "View case", case_path(user_case), :class => "button"
            %li= link_to "Delete", user_case, :remote => true, :method => :delete, :class => 'close', :confirm => "Are you sure you want to delete this case?"
          .clear
   
= render :partial => "layouts/sidebar"