#content.grid_15
  #helptool
    %ul
      %li
        = link_to "" do 
          %h3 Start adding things!
          You can easily add things you have or want to your lists just by navigating to the respective lists in the menu on the left.
      %li 
        = link_to "" do
          %h3 Had a problem with a company or service?
          Open a case and discuss your experience with them! Its quick and easy from your "My cases" page.
    .clear
    .close

  %h2 Cases
  = link_to "Open new case", new_case_path, :class => "facebox add button"
  .clear

  %ul.table.case-list
    %li.row.header
      .cell Date
      .cell Ticket name
      .cell Case no.
      .cell
    - @cases.each do |c|
      %li.row
        .cell= c.date
        .cell= c.title
        .cell
        .cell= link_to "View", case_path(c), :class => "button"
