%h1 Listing cases

%table
  %tr
    %th Title
    %th Description
    %th Date
    %th Case reference
    %th User
    %th Company
    %th Item
    %th
    %th
    %th


  - @cases.each do |c|
    %tr
      %td= c.title
      %td= strip_tags(c.description)
      %td= c.date
      %td= c.case_reference
      %td= c.user.name
      %td= c.company.try(:name)
      %td= c.item.try(:name)
      %td= link_to 'Show', c
      %td= link_to 'Edit', edit_case_path(c)
      %td= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete

%br= link_to 'New Case', new_case_path
