= form_for @case=Case.new, :html => {:class => "action table addcase"} do |f|
  = f.text_field 'title', :placeholder => "What's your issue?"
  = text_field_tag 'company_name', nil, :placeholder => "With who?"
  = f.hidden_field 'company_id'
  = f.text_field :tag_list, :placeholder => "+ Add tags"
  = f.submit 'save', :class => 'button blue'
  = f.submit 'clear', :class => 'button', :id => 'clear_item_fields'

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      
      // http://code.drewwilson.com/entry/autosuggest-jquery-plugin
      var data = [
        {value: "have", name: "have"},
        {value: "want", name: "want"}
      ];

      $('#case_tag_list').autoSuggest(data,
        {
          preFill: "case",
          neverSubmit: true
        }
      );
    });
