- content_for :page_style do
  = include_stylesheets :case_detail

%header
  %h2
    %a.tag.case{:href => ""}> Air New Zealand
    = @case.title

%aside.grid_5
  %article
    %h4 Company
    %img.bigthumb{:alt => "", :src => "http://goo.gl/4VUd8"}/
    %ul.comp-det
      %li.icon.phone 1 800 00 55 63
      %li.icon.world_link
        %a{:href => "http://www.airnewzealand.com.au/", :target => "_blank"} http://www.airnewzealand.com.au/
  %article
    %h4 Case owner
    -#= image_tag @case.user.main_image, :class => "userthumb fl"
    %h5
    = @case.user.name 
    %h4
    #usergallery
      Upload your photo's or documents here
      %br/
      %em Drag and Drop
    %input#graburl{:placeholder => "Add a URL", :type => "text"}/

#content.grid_13
  -#commentedbyCO helptool
    %ul
      %li
        %a{:href => ""}
          %h3 Describe what happened
          Give an overview of what the problem is and how you approached them.
      %li
        %a{:href => ""}
          %h3 Sharing
          You can make this case public, and share it on Twitter and Facebook. Or keep it private for your own notes.
      %li
        %a{:href => ""}
          %h3 Connect with others
          Look for others who have a similar issue, start a discussion about this.
    .clear
    .close

  %section#review
    = link_to "Edit overview", '#', :class => "edit-cntrl", :id => "edit-review-link"
    .title Case #{@case.case_reference}
    #rendered-review
      - if @case.description.blank?
        = render 'default_case'
      - else
        = raw @case.description
    #review-editor
      = form_for @case, :remote => true, :method => :put do |f|
        = f.text_area :description
        = f.submit 'Save'
    #review_status 

  = comments_section_for @case

%aside.grid_6
  %article
    %h4 Case status
    %select
      %option Open
      %option Closed
      %option Resolved
  %article
    %h4 Publish
    .table
      .row
        .cell.left Visibility:
        .cell.right
          = privacy_control_for @case
      - if @case.is_public?
        .row
          .cell.left Share link:
          .cell.right
            %input{:type => "text", :value => case_url(@case)}/
  %article
    %h4 Share with others
    %form.table
      .row
        .cell
          %input{:type => "text"}/
      .row
        .cell.left Send to
        .cell.right
          %ul.sharebts
            %li.sharebt.fb
              facebook
              .close
            %li.sharebt.twitter
              twitter
              .close
      %a.button.fr{:href => ""} Share
  %article
    %h4 Connect to others
    Reserved for a feed of related cases.
.clear


- content_for :javascripts do
  = javascript_include_tag 'ckeditor/ckeditor.js'

  :javascript

    $(document).ready(function() {
      var editor;

      function showEditor(){
        editor = CKEDITOR.replace('case_description',{                   //refactor point
          customConfig: '/javascripts/ckeditor_custom/item_review_config.js' 
        });
      }

      $('#edit-review-link').click(function(){
        showEditor();
        $('#rendered-review').hide();
        $('#review-editor').show();
      });


      $('form.edit_case').live('ajax:success', function(event, data, status, xhr){
        var editor_data = CKEDITOR.instances.case_description.getData();  //refactor point
        $('#rendered-review').html(editor_data);
        $('#rendered-review').show();
        $('form.edit_case textarea').val(editor_data);                    //refactor point
        $('#review-editor').hide();
        editor.destroy();
      });
    });




<body>
	<div id="prizzmbar"></div>
	<div id="hbar"></div>
	
	<div id="container" class="container_24">
		<header>
			<div class="grid_5">
        <h1 class="fl"><a href="index.php">prizzm</a></h1>
        <a class="fl usernotif" href="">5</a>
        <div class="clear"></div>
      </div>
			<form class="search grid_9" action="">
				<input type="text" placeholder="Find products and companies" />
				<input type="submit" value="" />
			</form>
      <nav class="grid_10">
				<ul>
          <li><a href="index.php">home</a></li>
					<li class="account">
            <a href="">account  <small>&#x25BC;</small></a>
            <ul class="subnav">
              <li class="user">
                <img src="images/me.png" alt="" class="fl" />
                <a class="username">Geoffrey Chong</a>
                <a href="">Edit Profile</a>
                <div class="clear"></div>
              </li>
              <li><a href="">Settings</a></li>
            	<li><a href="">Logout</a></li>
            </ul>
          </li>
				</ul>
			</nav>
		</header>
		
		<div id="main">
			
			<div id="content" class="grid_17">
				<section id="case">
					<a href="" class="edit-cntrl">Edit Issue</a>
					<div class="title">#09878 Macbook Pro HDMI-mini out</div>
					<h1>Issue</h1>
					When connecting the Macbook Pro to a TV via the HDMI-mini out port, the image on the TV is unstable with a static appearance.
					<ul class="notes">
						<li class="note">
						<a href="" class="edit-cntrl">Edit</a>
							Looked for a convenient time to book an appointment with Apple Genius's to take my laptop in but no times were available at the store I wanted today. <a href="">http://concierge.apple.com/geniusbar/R217</a>
							<div class="ftnote">Friday 19 August 2011</div>
						</li>
						<li class="note">
						<a href="" class="edit-cntrl">Edit</a>
							Looked for a convenient time to book an appointment with Apple Genius's to take my laptop in but no times were available at the store I wanted today. <a href="">http://concierge.apple.com/geniusbar/R217</a>
							<div class="ftnote">Friday 19 August 2011</div>
						</li>
						<li class="note">
						<a href="" class="edit-cntrl">Edit</a>
							Looked for a convenient time to book an appointment with Apple Genius's to take my laptop in but no times were available at the store I wanted today. <a href="">http://concierge.apple.com/geniusbar/R217</a>
							<div class="ftnote">Friday 19 August 2011</div>
						</li>
						<li class="note solution">
						<a href="" class="edit-cntrl">Edit</a>
							<h3>Solution</h3>
							Looked for a convenient time to book an appointment with Apple Genius's to take my laptop in but no times were available at the store I wanted today. <a href="">http://concierge.apple.com/geniusbar/R217</a>
							<div class="ftnote">Friday 19 August 2011</div>
						</li>
					</ul>
					<form class="addNote" action="">
						<input type="text" placeholder="Add note" />
						<input type="submit" class="button blue" value="add" />
						<div class="clear"></div>
					</form>
					<div class="clear"></div>
				</section>
				
				      <a class="collapse-comm" href="">collapse 5 comments</a>
      <ul class="comms">
      	<li class="row">
      		<div class="cell img"><a href=""><img src="images/me.png" class="smallthumb" alt="" /></a></div>
      		<div class="cell cont">Donec euismod, tortor ac porta rutrum, turpis odio faucibus enim, nec convallis enim ligula fringilla risus. Phasellus metus elit, elementum ut ultricies aliquam, tempor consectetur lectus. In at erat eros. In enim est, blandit vel ullamcorper sit amet, accumsan sit amet est.
          <div class="comm-ft"><a href="">share</a> <a href="">reply</a></div>
          </div>
          <div class="clear"></div>
      	</li>
        <li class="row">
      		<div class="cell img"><a href=""><img src="images/me.png" class="smallthumb" alt="" /></a></div>
      		<div class="cell cont">Donec euismod, tortor ac porta rutrum, turpis odio faucibus enim, nec convallis enim ligula fringilla risus. Phasellus metus elit, elementum ut ultricies aliquam, tempor consectetur lectus. In at erat eros. In enim est, blandit vel ullamcorper sit amet, accumsan sit amet est.
          <div class="comm-ft"><a href="">share</a> <a href="">reply</a></div>
          </div>
          <div class="clear"></div>
      	</li>
          <li class="row reply">
            <div class="cell img"><a href=""><img src="images/me.png" class="smallthumb" alt="" /></a></div>
            <div class="cell cont">Donec euismod, tortor ac porta rutrum, turpis odio faucibus enim, nec convallis enim ligula fringilla risus. Phasellus metus elit, elementum ut ultricies aliquam, tempor consectetur lectus. In at erat eros. In enim est, blandit vel ullamcorper sit amet, accumsan sit amet est.
            <div class="comm-ft"><a href="">share</a> <a href="">reply</a></div>
            </div>
            <div class="clear"></div>
          </li>
          <li class="row reply">
            <div class="cell img"><a href=""><img src="images/me.png" class="smallthumb" alt="" /></a></div>
            <div class="cell cont">Donec euismod, tortor ac porta rutrum, turpis odio faucibus enim, nec convallis enim ligula fringilla risus. Phasellus metus elit, elementum ut ultricies aliquam, tempor consectetur lectus. In at erat eros. In enim est, blandit vel ullamcorper sit amet, accumsan sit amet est.
            <div class="comm-ft"><a href="">share</a> <a href="">reply</a></div>
            </div>
            <div class="clear"></div>
          </li>
        <li class="row">
      		<div class="cell img"><a href=""><img src="images/me.png" class="smallthumb" alt="" /></a></div>
      		<div class="cell cont">Donec euismod, tortor ac porta rutrum, turpis odio faucibus enim, nec convallis enim ligula fringilla risus. Phasellus metus elit, elementum ut ultricies aliquam, tempor consectetur lectus. In at erat eros. In enim est, blandit vel ullamcorper sit amet, accumsan sit amet est.
          <div class="comm-ft"><a href="">share</a> <a href="">reply</a></div>
          </div>
          <div class="clear"></div>
      	</li>
      </ul>
      <form class="in-comm" action="">
        <textarea placeholder="comment"></textarea>
        <ul class="sharebts">Share to 
          <li class="sharebt fb">
            facebook
            <div class="close"></div>
          </li>
          <li class="sharebt twitter">
            twitter
            <div class="close"></div>
          </li>
        </ul>
        <input type="submit" class="button blue" value="Post" />
        <a href="" class="button">Cancel</a>
        <div class="clear"></div>
      </form>
    </div>
				
			</div>
			<aside class="grid_7">
			<article>
				<h4>Product</h4>
				<input type="text" placeholder="Find product" />
				<div class="clear"></div>
				<img class="itemthumb fl" src="images/me.png" alt="" />
				<h5>Mac Book Pro</h5>
				<div class="clear"></div>
			</article>
			<article>
				<h4>Company</h4>
				<input type="text" placeholder="Find a company" />
				<div class="clear"></div>
				
				<img class="compthumb fl" src="images/me.png" alt="" />
				<h5>Apple</h5>
				<a href="" class="button call">Contact</a>
				<div class="clear"></div>
			</article>
				<article>
					<h4>Status</h4>
					<select>
                        <option>Open</option>
                        <option>Closed</option>
                        <option>Resolved</option>
                    </select>
				</article>
				<article>
					<h4>Publish</h4>
					
					<div class="table">
						<div class="row">
							<div class="cell left">Visibility&#58;</div>
							<div class="cell right"><em>Private</em> <a href="">Edit</a></div>
						</div>
						<div class="row">
							<div class="cell left">Share link&#58;</div>
							<div class="cell right"><input type="text" value="http://prizzm.com/products/Serrano_Hobo" /></div>
						</div>
					</div>
				</article>
				<article>
					<h4>Ask your friends for advice</h4>
					
					<form class="table">
						<div class="row">
							<div class="cell">
							<input type="text" />
							</div>
						</div>
						<div class="row">
							<div class="cell left">Ask your</div>
							<div class="cell right">
								<ul class="sharebts">
									<li class="sharebt fb">
										facebook
										<div class="close"></div>
									</li>
									<li class="sharebt twitter">
										twitter
										<div class="close"></div>
									</li>
								</ul>
							</div>
						</div>
						<a href="" class="button fr">Ask</a>
					</form>
				</article>
			</aside>
			
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
	</div> <!-- end of #container -->
	
<footer>
	<div id="copyright" class="fl">&copy;2011 Prizzm - <a href="">About</a> - <a href="">Terms</a> - <a href="">Privacy</a></div>
  <ul class="fr">
  	<li><a href="">Dashboard</a> . </li>
  	<li><a href="">Browse</a> . </li>
  	<li><a href="">Profile</a> . </li>
  	<li><a href="">Logout</a></li>
  </ul>
    <div class="clear"></div>
</footer>
  
</body>
</html>
