- content_for :page_style do
  = include_stylesheets :case_detail

  = stylesheet_link_tag 'twilio.css'
  = javascript_include_tag "http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js"
  = javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js"

  %span#twilio_name(style="display:none")= @cap_name.to_s

#content.grid_14
  %nav#secondary
    %ul
      %li= link_to "Have", have_path(current_user)
      %li= link_to "Want", want_path(current_user)
      %li= link_to "Case", user_cases_path(current_user)
      
  %section#case
    .title= @case.title
    = link_to "Edit Issue", "#", :class => "button", :id => "edit-review-link"
    %div{ :class => "status #{@case.privacy}" }= @case.privacy
    .clear
    #rendered-review
      = html_clean @case.description
      

    %ul.notes
      - @case.notebook.notes.each do |note|
        = render :partial => 'cases/note', :locals => {:note => note}
    = form_for @case.notebook.notes.new, :url => case_notes_path(@case), :remote => true, :html => {:class => "addNote"} do |f|
      = f.text_field :body, :placeholder => "Add note"
      = f.submit "add", :class => "button blue"
      .clear
    .clear
    
    #footerbit
      Started: 
      = @case.updated_at.strftime '%A, %B %d, %Y at %I:%M %p'
      
  %ul.comms.comments_root
    = comment_collection_for @case
    .clear
  %section#new-comment
    = comment_form_for @case
       

= render :partial => "case_sidebar"

- content_for :javascripts do
  = include_javascripts :wysiwyg

  -if @case.company.nil? == false
    :javascript  
       $(function(){
         // Show facebox
         $('.contact.add').live('click', function(){
           $.get('#{company_addresses_path @case.company}/new', function(html){
             $.facebox(html);
           }, 'html');
         });

         $('#new_address').live('ajax:complete', function(event, xhr){
           $(document).trigger('close.facebox');

           $('#company_addresses > dl').replaceWith(xhr.responseText);
         });

         $('.call').click(function(){
           callnumber($(this).data('value'));
         });
   
       });

  :javascript
    $(function() {
      var pusher = new Pusher('526d54cc07120574aedb'); 
      var thingChannel = pusher.subscribe('#{@case.id}');
      thingChannel.bind('thing-create', function(thing) {
        $.get("#{case_path}", "script" , function(data) {
        });
      });


      $('.note_body').editable(function(value, settings){
        var note_id = $(this).closest('li').attr('id');
        var update_note_path = "#{case_notes_path(@case)}/" + note_id;
        $.ajax({
          type: "PUT",
          url: update_note_path,
          data: {note: {body: value}}
        });
        return value;
      }, {
        indicator : "Saving...",
        type      : "textarea",
        submit    : 'save',
        method    : 'PUT',
        cancel    : 'cancel',
        tooltip   : "Click to edit this note...",
        onblur    : "submit",
        name      : "review",
        cssclass  : "review-input"
      });

      if (document.location.hash === '#edit_issue') {
        editIssue();
      }
      

      $('li.note').delegate('a', 'click', function(){
        //var note_body = $(this).find('note-body');        
        var li_element = $(this).closest('li');
        var note_id = li_element.attr('id');
        li_element.find('.note_body').trigger('click.editable');
      });


      function editIssue() {


        $('#rendered-review').hide();
        $('form#note_new').hide();
        $('#review-editor').show();

        #{render 'cases/form.js.haml'}
      }

      $('#edit-review-link').click(function(){
        $.facebox(function(){
          $.get('#{edit_case_path @case}', function(html){
            $.facebox(html);
          });
        });
      });


      //  Submit the case issue via ajax - handle server response
      $('form.edit_case').live('ajax:success', function(event, data, status, xhr){
        $('#rendered-review').html($('#case_description').val());
        $('#rendered-review').show();
        $('#review-editor').hide();
        $('form#note_new').show();

        $('#case_description').wysiwyg('destroy');
      });

      // Submitting a new note via ajax - handle server response
      $('form#new_note').live('ajax:success', function(event, data, status, xhr){
        $('ul.notes').append(xhr.responseText);
        $('ul.notes:last-child').effect('highlight', {}, 2000);
        $('#note_body').val('')
      });

      $('ul.notes').delegate('a', 'ajax:success', function(event, data, status, xhr){
        var noteid = data + '';
        $('#' + noteid).fadeOut();
      });
    });

    #{render 'cases/twilio.js.haml', :taggable => @case}
