- content_for :page_style do
  = include_stylesheets :case_detail

#content.grid_17
  %section#case
    = link_to "Edit Issue", "#", :class => "edit-cntrl"
    .title= @case.title
    %h1 Issue
    = @case.description
    %ul.notes
      %li.note
        = link_to "Edit", "#", :class => "edit-cntrl"
        = @case.description
        .ft-note= @case.date
      %li.note.solution
        = link_to "Edit", "#", :class => "edit-cntrl"
        = @case.description
        .ft-note= @case.date
    /= form_for @case.note, :html => {:class => "addNote"} do |f|
    = form_for  :html => {:class => "addNote"} do |f|
      = f.text_field :update, :placeholder => "Add note"
      = f.submit "add", :class => "button blue"
      .clear
    .clear
       
  = comments_section_for @case
       

- content_for :javascripts do
  = javascript_include_tag 'ckeditor/ckeditor.js'

  :javascript

    $(document).ready(function() {
      var editor;

      function showEditor(){
        editor = CKEDITOR.replace('case_description',{                   //refactor point
          customConfig: '/javascripts/ckeditor_custom/item_review_config.js' 
        });
      }

      $('#edit-review-link').click(function(){
        showEditor();
        $('#rendered-review').hide();
        $('#review-editor').show();
      });


      $('form.edit_case').live('ajax:success', function(event, data, status, xhr){
        var editor_data = CKEDITOR.instances.case_description.getData();  //refactor point
        $('#rendered-review').html(editor_data);
        $('#rendered-review').show();
        $('form.edit_case textarea').val(editor_data);                    //refactor point
        $('#review-editor').hide();
        editor.destroy();
      });
    });
