- content_for :page_style do
  = stylesheet_link_tag 'jquery.wysiwyg.css'
  = include_stylesheets :case_detail

#content.grid_14
  %section#case
    .title= @case.title
    = link_to "Edit Issue", "#", :class => "edit-cntrl", :id => "edit-review-link"
    #rendered-review
      = html_clean @case.description

    #review-editor
      = form_for @case, :remote => true, :method => :put do |f|
        = f.text_area :description, :cols => 59
        .buttons.fr
          = f.submit 'Save', :class => "green button"
          = f.submit "cancel", :class => "button", :id => "clear_item_fields"
        .clear
    #review_status 
    = form_for @case, :remote => true, :method => 'PUT' do |f|
      = f.text_field :tag_list, :placeholder => "+ Add Tags"
    %ul.notes
      - @case.notebook.notes.each do |note|
        = render :partial => 'cases/note', :locals => {:note => note}
    = form_for @case.notebook.notes.new, :url => case_notes_path(@case), :remote => true, :html => {:class => "addNote"} do |f|
      = f.text_field :body, :placeholder => "Add note"
      = f.submit "add", :class => "button blue"
      .clear
    .clear
    
    #footerbit
      = @case.updated_at.strftime '%A, %B %d, %Y at %I:%M %p'
      \|
      = link_to 'delete', case_path(@case), :method => :delete if (@case.user == current_user)
      = privacy_control_for @case

  %ul.comms.comments_root
    = comment_collection_for @case
    .clear
  %section#new-comment
    = comment_form_for @case

%aside.grid_6
  %article
    %h4 Ask your friends for help
    = form_tag case_post_to_facebook_path(@case), :remote => true, :class => "table", :id => "form-ask-friend" do
      = text_field_tag :message, "", :placeholder => "Message"
      %ul.finalstep.buttons.fr
        %li.fb{:title => "post to facebook"}
          / facebook checkbox goes here
        %li.tt
          / twitter checkbox goes here
        %li.privacy
          / privacy drop down goes here
        %li
          = hidden_field_tag :link, case_url(@case)
          = link_to "Share", "#", :id => 'button-ask-friend', :class => "button green"
          .loading{:style => "display:none;float:left"}
      .clear
       

- content_for :javascripts do
  = include_javascripts :wysiwyg

  :javascript
    $(document).ready(function() {
      #{render 'tags/taggable.js.erb', :taggable => @case} 


      $('.note_body').editable(function(value, settings){
        var note_id = $(this).closest('li').attr('id');
        var update_note_path = "#{case_notes_path(@case)}/" + note_id;
        $.ajax({
          type: "PUT",
          url: update_note_path,
          data: {note: {body: value}}
        });
        return value;
      }, {
        indicator : "Saving...",
        type      : "textarea",
        submit    : 'save',
        method    : 'PUT',
        cancel    : 'cancel',
        tooltip   : "Click to edit this note...",
        onblur    : "submit",
        name      : "review",
        cssclass  : "review-input"
      });

      if (document.location.hash === "#write_review"){
      }

      if (document.location.hash === '#edit_issue') {
        editIssue();
      }
      

      $('li.note').delegate('a', 'click', function(){
        //var note_body = $(this).find('note-body');        
        var li_element = $(this).closest('li');
        var note_id = li_element.attr('id');
      li_element.find('.note_body').trigger('click.editable');
      });

      function editIssue() {
        $('#case_description').wysiwyg({
          controls: {
              bold: { visible: true },
              italic: { visible: true },
              underline: { visible: true },
              strikeThrough: { visible: true },

              justifyLeft: { visible: true },
              justifyCenter: { visible: true },
              justifyRight: { visible: true },
              justifyFull: { visible: true },

              undo: { visible: true },
              redo: { visible: true },

              insertOrderedList: { visible: true },
              insertUnorderedList: { visible: true },

              createLink: { visible: true },
              insertImage: { visible: true },

              paragraph: { visible: true },
          },
          rmUnusedControls: true
        });

        $('#rendered-review').hide();
        $('form#note_new').hide();
        $('#review-editor').show();
      }

      $('#edit-review-link').click(function(){
        editIssue();
      });


      //  Submit the case issue via ajax - handle server response
      $('form.edit_case').live('ajax:success', function(event, data, status, xhr){
        $('#rendered-review').html($('#case_description').val());
        $('#rendered-review').show();
        $('#review-editor').hide();
        $('form#note_new').show();

        $('#case_description').wysiwyg('destroy');
      });

      // Submitting a new note via ajax - handle server response
      $('form#new_note').live('ajax:success', function(event, data, status, xhr){
        $('ul.notes').append(xhr.responseText);
        $('ul.notes:last-child').effect('highlight', {}, 2000);
        $('#note_body').val('')
      });

      $('ul.notes').delegate('a', 'ajax:success', function(event, data, status, xhr){
        var noteid = data + '';
        console.log('Noteid: '+noteid);
        $('#' + noteid).fadeOut();
      });
    });
