= semantic_form_for [current_company, @client] do |f|
  -if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  = f.input :first_name, :input_html => {:placeholder => "Enter the First Name" }
  = f.input :last_name, :input_html => {:placeholder => "Enter the Last Name" }
  = f.input :email, :input_html => {:placeholder => "Enter the email address" }

  = f.commit_button "Save client", :button_html => {:class => "btn primary large offset2"}

