%h1 Editing client

= form_for [current_company, @client] do |f|
  -if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'

= link_to 'Show', [current_company, @client]
\|
= link_to 'Back', company_clients_path(current_company)
