%h1 Listing clients

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Edit
      %th Delete

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.first_name
        %td= client.last_name
        %td
          = client.email
          /= link_to 'Visit User Profile', profile_path(client.user) if client.user
          /Nice to have feature, but disabled because for whatever reason, we can no longer observe other users profiles 
        %td
          = link_to edit_company_client_path(current_company, client), :class => "facebox" do
            = edit_icon
        %td
          = link_to [current_company, client], :confirm => 'Are you sure?', :method => :delete do 
            = delete_icon

%br

= link_to 'Add a Client', new_company_client_path(current_company), :class => 'btn primary large'

