%h1 Listing clients

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th
      %th Edit
      %th Delete

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.first_name
        %td= client.last_name
        %td= client.email
        %td= link_to 'Show', [current_company, client]
        %td
          = link_to edit_company_client_path(current_company, client) do
            = edit_icon
        %td
          = link_to [current_company, client], :confirm => 'Are you sure?', :method => :delete do 
            = delete_icon

%br

= link_to 'Add a Client', new_company_client_path(current_company), :class => 'btn primary large'

