=stylesheet_link_tag("product_invite")
%h1 
    Listing invitations for
    =@product.name
%br
.invitations-show
    %table
        %tr{:style=>"background:#ccc;padding:5px;"}
            %th First Name &nbsp;
            %th Last Name &nbsp;
            %th Email &nbsp;
            %th Purchase Date &nbsp;
            %th Amount &nbsp;
            %th Invited On &nbsp;
            %th Response &nbsp;
            %th Status &nbsp
        -if !@invitations.empty?
            - @invitations.each do |invitation|
                %tr
                    %td
                        = invitation.first_name
                        &nbsp;
                    %td
                        = invitation.last_name
                        &nbsp;
                    %td
                        = invitation.email
                        &nbsp;
                    %td
                        = invitation.purchase_date
                        &nbsp;
                    %td
                        = invitation.amount
                        &nbsp;
                    %td
                        -if !invitation.sent_on.nil?
                            = invitation.sent_on.to_date
                        &nbsp;
                    %td
                        = invitation.accepted
                        &nbsp;
                    %td
                        -if invitation.sent.to_s == "sent"
                            Invitation sent
                        -else
                            = link_to 'Invite', product_product_invitation_path(@product,invitation)
        -else
            %tr
                %td{:colspan=>"8"} No Record Found

%br
=link_to 'add invitation', new_product_product_invitation_path
%br

