%h1
  Congratulations
  = current_user.name
You just added a
%em= @item.name
to your
%em have list

.product
  = image_tag @item.main_image, :class => "fl medthumb"
  .fr
    %h2= @item.name
    = @item.review
  .clear
  
%ul.finalstep.fr
  %li= link_to "Maybe later", '', :class => "other-opt", :id => 'close_share_review'
  /%li= link_to "Share to facebook", post_review_to_fb_path(@item.id), :class => "green button", :id => 'share_review_on_facebook', :method => :post, :remote => true
  %li= link_to "Share to facebook", '', :class => "green button", :id => 'share_review_on_facebook'

/= render 'layouts/javascripts'
:javascript
  $('#close_share_review').click(function(event){
    jQuery(document).trigger('close.facebox');
  });

  $('#share_review_on_facebook').click(function(event){
    $.ajax({
      type: 'POST',
      url: "#{post_review_to_fb_path(@item.id)}"
    });
    jQuery(document).trigger('close.facebox');
  });
