%h1
  Congratulations
  = current_user.name
You just added a
%em= @item.name
to your list

/
  .product
    = image_tag @item.main_image, :class => "fl medthumb"
    .fr.prod-desc
      %h2= @item.name
      = @item.review
    .clear
.coupon Recommend it to your friends on facebook and give them 15% off their next purchase!
%ul.finalstep.fr
  %li= link_to "Maybe later", '', :class => "other-opt", :id => 'close_share_review'
  %li= link_to "Recommend it on facebook", '', :class => "green button", :id => 'share_review_on_facebook'

:javascript
  $('#close_share_review').click(function(event){
    jQuery(document).trigger('close.facebox');
  });

  $('#share_review_on_facebook').click(function(event){
    $.ajax({
      type: 'POST',
      url: "#{post_review_to_fb_path(@item.id)}"
    });
    jQuery(document).trigger('close.facebox');
  });
