#share-rev
  %h1
    Thanks for sending your feedback
    = current_user.first_name
  %p
    .clear
    = image_tag @item.main_image, :class => "fl"
    .fl.rev
      You just added a
      %em= @item.name
      to your list and said that...
      %br
      = @item.review
    .clear
  
  .coupon Recommend it to your friends on facebook and give them 15% off their next purchase!
  %ul.finalstep.fn
    %li.fl= link_to "Maybe later", '', :class => "other-opt", :id => 'close_share_review'
    %li.fr
      .fr= link_to "Recommend it on facebook", post_review_to_fb_path(@item.id), :method => :post, :class => "fbb button", :id => 'share_review_on_facebook'
      .fl.loading
  
:javascript
  $('#close_share_review').click(function(event){
    jQuery(document).trigger('close.facebox');
  });

  $('#share_review_on_facebook').click(function(event){
    $('.loading').show();
    //jQuery(document).trigger('close.facebox');
  });
