= link_to "Back", home_path

#item-details
  %h2#title.headline Thank you Janet for purchasing the - #{@product.name}


  #text-fields
    .column
      %p.fields
        %strong Name:
        %br/
        = @product.name
      %p.fields
        %strong Category:
        %br/
        = @product.product_type
      %p.fields
        %strong URL:
        %br/
        = link_to @product.url, @product.url
      %p.fields
        %br/
        %br/
        %p
        %strong Please leave your rating for this item:

    .column
      %p.fields
        %strong Do you like your #{@product.name}?
        %br/
        = text_area_tag 'item', @product.description, :width => '70'
      .fields
        %strong
          %p
        %div{:id => "new_item_rating", :class => "rating"}
          = form_for [@user, @product], :remote => true do |f|
            %div{:id => "stars-wrapper"}
              = f.collection_select :rating, [1, 2, 3, 4, 5], :to_s, :to_s, {}
    .column
      %p.fields
  #share_box
    = link_to image_tag('share_facebook.png'), user_omniauth_authorize_path(:facebook) 
    #share_warning
      .alert Sharing this item on Facebook will post a message on your wall, inviting your friends to see your review
  = render 'images'



  #image-field
    /%p= image_tag @product.images.first.image.url, :width => "100%"
  .clear
  



TODO:  Can't ma
#new_interaction_box
  #interaction_input_box
    = form_for [current_user, @interaction = Interaction.new], :remote => true do |f|
      = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts"
      = f.submit 'Save', :id => 'item-interaction-submit'
      .social
        .twitter_button
          = link_to image_tag('twitter_24x24.png'), '#'
          = f.check_box :shared_twitter, :class => 'shared_tt_checkbox', :id => 'interaction_shared_tt'
        .facebook_button
          = link_to image_tag('facebook_24x24.png'), '#'
          = f.check_box :shared_facebook, :class => 'shared_fb_checkbox', :id => 'interaction_shared_fb'
      #interaction_stars
        = f.collection_select :rating, [1, 2, 3], :to_s, :to_s, {}
      = f.hidden_field :new_items, :value => @product.id
      .clear

- if @product.interactions.count == 0
  %h2.headline There are no interactions for this Item
  %hr
- else 
  %h2.headline Interactions for: #{@product.name}
  %hr
  #interactions
    #interactions_feed= render :partial => 'home/interaction', :collection => @product.interactions.order('created_at desc')

:javascript
  $("#stars-wrapper").stars({
    inputType: "select",
    cancelShow: false
  });

  $("#interaction_stars").stars({
    inputType: "select",
    cancelShow: false
  });
