.interaction-content
  .interaction-user= interaction.user.name
  .user-image
    .interaction-profile-image= image_tag interaction.user.photo_url.gsub('200', '50')
  .user-content
    .interaction-description= interaction.description
    .interaction-contact= interaction.contact
    .interaction-items= pluralize(interaction.items.count, 'item')
    - interaction.items.each do |item|
      %span.interaction-item= link_to item.name, [current_user, item]
  .interaction-created-at #{time_ago_in_words(interaction.created_at)} ago
  %div{:id => "interaction-#{interaction.id}-rating", :class => "rating"}
    = form_for [interaction.user, interaction], :remote => true do |f|
      = f.collection_select :rating, [1, 2, 3], :to_s, :to_s, {}
  :javascript
    $("#interaction-#{interaction.id}-rating").stars({
      inputType: "select",
      cancelShow: false,
      callback: function(ui, type, value, event){
        var interaction = #{interaction.id};
        update_rating('interactions', interaction,value);
      }
    });
