.row(id="item_#{item.id}" data-itemid="#{item.id}")
  .cell.img= image_tag item.images.first.image.thumb.url unless item.images.first.nil?
  .cell
    - if item.product.nil? == false
      %h2= link_to item.product.name, item_path(item)
    - else
      %h2= link_to item.name, item_path(item)
    .clear
    = link_to "Write a review", item_path(item) + '#write_review'
    = render :partial => 'items/privacy_controls', :locals => {:item => item }
    %div(id="item_#{item.id}_rating")
      = form_for [@user, item], :remote => true do |f|
        %div{:id => "stars-wrapper-#{item.id}", :class => "rateable-item", :data => {:itemid => "#{item.id}"}}
          = f.collection_select :rating, [1, 2, 3, 4, 5], :to_s, :to_s, {}
  .cell= link_to "Recommend", create_recommendation_path(item.id), :class => "button facebox"
  .cell.delete-item= link_to 'Delete from list', [current_user, item],  :remote => true, :method => :delete, :class => "ir cancel"

    
