.row(id="item_#{item.id}" data-itemid="#{item.id}")
  .cell.img= image_tag item.images.first.image.thumb.url unless item.images.first.nil?
  .cell
    %h2= link_to item.name, owners_wanted_item_view_path(item)
    .clear
    = link_to "Request Recommendation", new_advice_path(item), :class => 'colorbox'
    = render :partial => 'items/privacy_controls', :locals => {:item => item }
  .cell= link_to "Find Offers", '#', :class => "button"
  .cell.delete-item= link_to 'Delete from list', [current_user, item],  :remote => true, :method => :delete, :class => "ir cancel"

