%article#wishlist
  %header.clearfix
    %h1 Want
    %ul
      %li= link_to '5', :class => "active"
      %li= link_to '10'
      %li= link_to '20'
      %li= link_to 'View All'
      %li.addItem= link_to 'add item', "#", :class => 'colorbox'
  .table#want-list.connectedSortable(data-possession='want')
    = render :partial => "home/wanted_item", :collection => @user.wanted_items.recently_updated, :as => :item
