.row(id="item_#{item.id}" data-itemid="#{item.id}")
  .cell.image= image_tag item.images.first.image.thumb.url unless item.images.first.nil?
  .cell
    %h2= link_to item.name, [current_user, item]
    .clear
    = link_to "Request Recommendation", '#'
    = link_to item.privacy, '#', :class => "#{item.privacy} status"
  .cell= link_to "Find Offers", '#', :class => "button"

