- content_for :page_style do
  = include_stylesheets :dashboard

%header
  %h2.grid_5 Dashboard

#content.grid_19
  #helptool
    %ul
      %li
        = link_to new_item_path + "#create", :id => "action-button", :class => "facebox" do 
          %h3 Add 
          What do you have or want? Add it!</a>
      %li
        = link_to have_path(current_user) do
          %h3 Data
          Prizzm stores *your* data. Private unless shared.  Also browse others profiles, what do your friends have?
      %li
        = link_to new_case_path do
          %h3 Capture
          Ever have a problem with a product or service? Or call a company? Need to record what they said?  Track your version here...and publicize your "case" if necessary.</a>
    .clear
    .close
  %section#la-rev.grid_9
    %h3
      %span public items
    %ul
      - latest_reviews.each do |item|
        %li
          = image_tag item.main_image
          .fl
            %h4= item.name
            %p
              = truncate(strip_tags(item.review), :length => 40)
              %br= link_to "Read more", item_path(item)
            .rating
          .clear
  %section#mo-re-ca.grid_9
    %h3
      %span public cases
    %ul
      - recent_cases.each do |user_case|
        %li
          /= image_tag review.from["image"]
          .fl
            %h4= user_case.title
            %p
              = truncate(strip_tags(user_case.description), :length => 40)
              = link_to "Read more", case_path(user_case)
            .rating
          .clear
  %section#tr-br.grid_18
    %h3
      %span brands
    %ul
      - trending_brands.each do |company|
        %li
          = link_to company_path(company) do
            = image_tag company.main_image
            = company.name
    %a.fr{:href => ""} View all
  .clear
  .clear
%aside.grid_5
  %article
    %h4.fl People following
    %a.small.fr{:href => ""} View all
    .clear
    .table
      - events_about_users.each do |event|
        .row
          .cell.img
          .cell
            = format_feed_item event,  :timestamp => true

  %article
    %h4.fl Products following
    %a.small.fr{:href => ""} View all
    .clear
    .table
      - events_about_products.each do |event|
        .row
          .cell.img
          .cell
            = format_feed_item event,  :timestamp => true
  %article
    %h4.fl Brands following
    %a.small.fr{:href => ""} View all
    .clear
    .table
      - events_about_companies.each do |event|
        .row
          .cell.img
          .cell
            = format_feed_item event,  :timestamp => true
.clear

- content_for :jquery do
  :javascript
    $(document).ready(function() {
      $('.close', '#helptool').bind('click', function() {
        $('#helptool').slideUp(1000);
      });
    });
