- content_for :page_style do
  = include_stylesheets :livef

%aside.grid_4.left
  .userbit
    = image_tag current_user.main_image, :class => "fl"
    .fr= link_to current_user.name, profile_path(current_user), :class => "uname"
    .clear
  %nav
    %article
      %ul
        %li= link_to "Welcome", ""
        %li= link_to "Live Feed", dashboard_path, :class => tab_for(dashboard_path)
    %article
      %h4 Tags
      %ul
        %li= link_to "Have", have_path(current_user), :class => tab_for(have_path(current_user))
        %li= link_to "Want", want_path(current_user), :class => tab_for(want_path(current_user))
        %li= link_to "Case"

#content.grid_15
  = render :template => 'items/new'
  
  %ul.fol-f.table
    %li.rv.row
      .user.cell
        = link_to "" do
          = image_tag current_user.main_image
          %span.uname= current_user.name
      .post.cell
        %h1 Hermann Mini
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue mi sed ante pellentesque ultricies. Curabitur eget diam nisl, vitae egestas nulla. Nunc at arcu tellus. Proin egestas tincidunt convallis.
        
        

%aside.grid_5.right
  %article
    %h4.fl People following
    = link_to "View all", '#', :class => 'small fr'
    .clear
    %ul.usergal
      - people_following.each do |user|
        %li
          = link_to profile_path(user) do
            = image_tag user.main_image
    

  %article
    %h4.fl Suggested People
    = link_to "View all", members_path, :class => 'small fr'
    .clear
    %ul.table
      - suggested_people.each do |person| 
        %li.row
          = link_to profile_path(person) do
            .cell.img
              = image_tag person.main_image, :class => 'smallthumb'
            .cell.uname= person.name
          .cell.action
            = follow_link_for person
    
.clear

- content_for :jquery do
  :javascript
    $(document).ready(function() {
      $('.close', '#helptool').bind('click', function() {
        $('#helptool').slideUp(1000);
      });
    });
