- content_for :page_style do
  = include_stylesheets :livef

#content.grid_14
  %nav.action-menu
    %ul
      %li
        = link_to "Have", "", :class => "active"
        = link_to "Want", ""
        = link_to "Case", ""
        = link_to "New Category", ""
  %form.action.table.addhave{:action => ""}
    %input{:placeholder => "Item name", :type => "text"}/
    %input{:placeholder => "Add a URL", :type => "text"}/
    #url_preview
      #img_selector_parent{:style => "display: block; "}
        %table.fl
          %tbody
            %tr
              %td#img_selector{:align => "center"}
                %img{:src => "http://i.dell.com/images/global/brand/ui/storm80/logo80.gif"}/
            %tr
              %td#img_controls{:align => "center"}
                %button#prev_image{:disabled => "disabled"} <
                %button#next_image >
        %textarea.fr{:id => "", :name => "", :placeholder => "What did you think of this product?"}
        .clear
    %ul.tags
      %li.gld
        Have
        .close
      %li.cmp
        Dell
        .close
      %li
        Electronic
        .close
      %li
        laptop
        .close
      %li
        Windows
        .close
      + Add tags
    %input.button.blue{:type => "submit", :value => "save"}/
    %input#clear_item_fields.button{:type => "submit", :value => "clear"}/
  
%aside.grid_5.right
  %article
    %h4.fl People following
    %a.small.fr{:href => ""} View all
    .clear
    %ul.usergal
      %li
        %a{:href => ""}
          = image_tag "default-user-avatar.png"
    

  %article
    %h4.fl Suggested People
    %a.small.fr{:href => ""} View all
    .clear
    %ul.table
      %li.row
        .cell.img
          %img.smallthumb{:alt => "", :src => "images/me.png"}/
        .cell.uname Geoffrey Chong
        .cell.action
          = link_to "Follow", "", :class => "button blue"
    
.clear

- content_for :jquery do
  :javascript
    $(document).ready(function() {
      $('.close', '#helptool').bind('click', function() {
        $('#helptool').slideUp(1000);
      });
    });
