- content_for :page_style do
  = include_stylesheets :livef

#content.grid_14
  %nav.action-menu
    %ul
      %li
        = link_to "Have", "", :class => "active"
        = link_to "Want", ""
        = link_to "Case", ""
        = link_to "New Category", ""

  = render :template => 'items/new'
  = render :template => 'cases/new'

%aside.grid_5.right
  %article
    %h4.fl People following
    = link_to "View all", '#', :class => 'small fr'
    .clear
    %ul.usergal
      - people_following.each do |user|
        %li
          = link_to profile_path(user) do
            = image_tag user.main_image
    

  %article
    %h4.fl Suggested People
    = link_to "View all", members_path, :class => 'small fr'
    .clear
    %ul.table
      - suggested_people.each do |person| 
        %li.row
          = link_to profile_path(person) do
            .cell.img
              = image_tag person.main_image, :class => 'smallthumb'
            .cell.uname= person.name
          .cell.action
            = follow_link_for person
    
.clear

- content_for :jquery do
  :javascript
    $(document).ready(function() {
      $('.close', '#helptool').bind('click', function() {
        $('#helptool').slideUp(1000);
      });
    });
