- content_for :page_style do
  = stylesheet_link_tag 'dashboard'

#content.grid_8
  = render 'owned_list'
  = render 'wanted_list'

%aside.grid_4
  = render 'your_feed'
  = render 'recommendations'

- content_for :jquery do
  :javascript
    $(document).ready(function(){
      //http://devblog.foliotek.com/2009/07/23/make-table-rows-sortable-using-jquery-ui-sortable/
      var fixHelper = function(e, ui) {
        ui.children().each(function() {
          $(this).width($(this).width());
        });
        return ui;
      };

      var getStartOrder = function(event, ui){
        this.old_table_order = $(this).sortable('toArray').toString();
        this.old_table_order = $(this).sortable('toArray');
      };

      var saveOrder = function(event,ui){
        var new_table_order = $(this).sortable('toArray');
        var user_id = $('table.interactions').attr('data-user');
        var possession_status = $(this).data('possession');
        var moved_item_id = $(ui.item).data('itemid');
        console.log(moved_item_id);
        $.post('/items/sort', {
          new_item_order: new_table_order, 
          old_item_order: this.old_table_order, 
          user_id: user_id,
          id: moved_item_id,
          possession_status: possession_status 
        }) //post order to rails
        $(this).find('.item_info').removeClass('hover');
        console.log("new poss: " + possession_status);
      };

      $('#have-list, #want-list').sortable({
        helper: fixHelper,
        start: getStartOrder, 
        update: saveOrder,
        connectWith: ".connectedSortable"
      }).disableSelection();

    });

