- content_for :user_header do
  #user_info
    .user_name #{@user.name}


#interactions
  #new_interaction_box
    #prompt_phrase How was the service?
    #interaction_input_box
      = form_for [current_user, @interaction = Interaction.new], :remote => true do |f|
        = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts"
        #interaction_stars
          = f.collection_select :rating, [1, 2, 3, 4, 5], :to_s, :to_s, {}
        = f.submit 'Share'
      :javascript
        $("#interaction_stars").stars({
          inputType: "select",
          cancelShow: false
        });
    #interaction_tool_box   
      .social
        .facebook_button
          = link_to image_tag('facebook_24x24.png'), '#'
          = check_box_tag 'submit-to-facebook'
        .twitter_button
          = link_to image_tag('twitter_24x24.png'), '#'
          = check_box_tag 'submit-to-twitter'
  #interactions_feed
    - Interaction.all.each do |interaction|
      .interaction-content
        .interaction-profile-image= placeholder_image_tag :width => 75, :height => 75
        .interaction-description= interaction.description
#items
  #items_feed
    %p= text_field_tag 'search term'
    %table.items
      %thead
        %tr
          %th 
          %th Name
          %th Item Type
          %th Rating
      %tbody
        /= render :partial => "home/item", :collection => @user.items
        - current_user.items.each do |item|
          %tr{:id => "item_#{item.id}"}
            .item_info
              %td.check_box= check_box_tag 'tag', nil, false, :class => "checkbox-tag"
              %td.position= item.position
              %td.name= best_in_place item, :name, :path => [current_user, item]
              %td.itemtype= best_in_place item, :itemtype, :path => [current_user, item]
              %td.rating

  #items_search
    #search_results
    = render 'layouts/custom_search_json'
