- content_for :user_header do
  #user_info
    .user_name #{@user.name}

#interactions
  #new_interaction_box
    .prompt_phrase How was the service?
    #interaction_input_box
      = form_for [current_user, @interaction = Interaction.new], :remote => true do |f|
        = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts"
        = f.submit 'Save'
        .social
          .twitter_button
            = link_to image_tag('twitter_24x24.png'), '#'
            = f.check_box :shared_twitter
          .facebook_button
            = link_to image_tag('facebook_24x24.png'), '#'
            = f.check_box :shared_facebook
        #interaction_stars
          = f.collection_select :rating, [1, 2, 3], :to_s, :to_s, {}
        = f.hidden_field :new_items
        .clear
      :javascript
        $("#interaction_stars").stars({
          inputType: "select",
          cancelShow: false
        });
  #interactions_feed= render :partial => 'interaction', :collection => @interactions

#items
  #items_feed
    #add-item
      .add-item-text Add Item
      = link_to image_tag('add.png', :id => 'add-item-button'), new_user_item_path(@user), :rel => 'facebox', :id => 'add-item-link', :title => 'Add an item'
    .applet-title
      Brands
    %table.items
      %thead
        %tr
          %th 
          %th Name
          %th Item type
          %th Rating
      %tbody
        /= render :partial => "home/item", :collection => @user.items
        - current_user.items.each do |item|
          %tr{:id => "item_#{item.id}"}
            .item_info
              %td.check_box= check_box_tag "item_#{item.id}_tag", nil, false, :class => "checkbox-tag", :'data-item-id' => item.id
              /%td.position= item.position
              %td.name= link_to item.name, [current_user, item]
              /%td.itemtype= best_in_place item, :itemtype, :path => [current_user, item]
              %td.description= truncate item.description, :length => 30
              %td.rating
                %div(id="item_#{item.id}_rating" class="rating")
                  = form_for [@user, item], :remote => true do |f|
                    %div{:id => "stars-wrapper-#{item.id}"}
                      = f.collection_select :rating, [1, 2, 3], :to_s, :to_s, {}
                    :javascript
                      $("#stars-wrapper-#{item.id}").stars({
                        inputType: "select",
                        callback: function(ui, type, value, event){
                          var item = #{item.id};
                          update_rating('items', item,value);
                        },
                        cancelShow: false
                      });

  #items_search
    #search_results
    /= render 'layouts/custom_search_json'
