= form_for @company, :remote => true do |f|
  -if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, :placeholder => "Name"
  .field
    = f.text_field :email, :placeholder => "Email"
  .field
    = f.text_field :address, :placeholder => "Address"
  .field
    = f.text_field :phone_number, :placeholder => "Phone Number"
  .field
    = f.text_field :secondary_number, :placeholder => "Secondary Number"
  .field
    = f.text_area :url, :placeholder => "URL"
  .field
    = f.text_field :industry, :placeholder => "Industry"
  .field
    = f.text_field :contact_name, :placeholder => "Contact Name"
  .actions
    = f.submit 'Save'
