- content_for :page_style do
  = include_stylesheets :company, :logged_in

%header
  %h2.grid_19 #{@company.name}
  .grid_5
    = link_to "Follow", "#", :class => "button red"

%aside.grid_5
  %article
    = render 'company_images'

    - if user_signed_in?
      = fields_for CompanyImage.new do |f|
        = f.file_field :image, :rel => company_company_images_path(@company)                        
      = company_photo_uploadify

      %br
      = link_to @company.url, @company.url

      = form_tag company_company_images_path(@company), :remote => true, :multipart => true, :id => "add-remote-image" do
        = fields_for :image do |builder|
          = builder.text_field :remote_image_url, :id => "graburl", :placeholder => "Add a URL"
          %div{:style => "display:none"}
            = builder.submit
      .loading{:style => "display:none"}

    %nav
      %ul
        %li= link_to "Information", "#", :class => "active"
        %li= link_to "Products", "#"
        %li= link_to "Cases", "#"

#content.grid_14
  %section
    %h1 About
    %p 
      add an "about" (or description) in the companies companies model
      %br
      = link_to "home", @company.url, :style => "color:#0000FF;text-align:left", :target => "_blank"
    
      
  
  %section#location
    %small
    = link_to "Address Map", "http://maps.google.com/maps?q=1+Infinite+Loop,+Cupertino,+CA&hl=en&sll=37.0625,-95.677068&sspn=45.014453,96.767578&z=16", :style => "color:#0000FF;text-align:left", :target => "_blank"
    .clear
    Reserved for a iframe map... if we really need one 


  %section#contact
    %ul.table
      - @company.addresses.each do |address| 
        %li.row
          .cell.icon
            %span{:class => "#{Company::ADD_ICON[address.address_type]}"}
          .cell{:title => address.description}= address.description.to_s.truncate(30)
          .cell{:title => address.address}= address.address
          .cell= link_to "#{Company::ADD_TEXT[address.address_type]}", "#", :class => "button #{Company::ADD_CLASS[address.address_type]}"

  
    = form_for([@company, @company.addresses.build], :html => { :class => "add-cont" }) do |f|
      = f.collection_select :address_type, Company::ADD_TYPES, :to_s, :humanize, {}
      = f.text_field :description, :size => "21"
      = f.text_field :address, :size => "21"
      = f.submit "Add"

%aside.grid_5
  %article
    %h4 100 people have Apple Inc products
    Reserved for a grid of users.
  %article
    %h4 Twitter
    %ul
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
  %article
    %h4 Facebook
    %ul
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
.clear

- content_for :javascripts do
  :javascript
    $(function() {
      $('#add-remote-image').bind('submit', function() {
        $('.loading', 'aside').show();
      });

      $('#add-remote-image').bind('ajax:complete', function(e, xhr, settings) {
        $('.loading', 'aside').hide();
        $('#graburl').val('');
        $('body').trigger('insertImage', xhr.responseText);
      });
    });
