%p#notice= notice

%p
  %b Email:
  = @company.email
%p
  %b Address:
  = @company.address
%p
  %b Phone number:
  = @company.phone_number
%p
  %b Secondary number:
  = @company.secondary_number
%p
  %b Url:
  = @company.url
%p
  %b Industry:
  = @company.industry
%p
  %b Contact name:
  = @company.contact_name

%p
  = follow_link_for @company

%p
  %b Addresses:
- @company.addresses.each do |address|  
  %p
  %b= address.address_type 
  = address.address  
%p 
  %b Add a Contact Point: 
= form_for([@company, @company.addresses.build]) do |f| 
  %p
  = f.collection_select :address_type, ['Street Address', 'Facebook', 'Twitter', 'Phone Number'], :to_s, :to_s, {}
  /= f.label :address
  = f.text_field :address
	
  %p
  = f.submit 
 
= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
