- content_for :page_style do
  = include_stylesheets :company, :logged_in

%header
  %h2.grid_19 #{@company.name}
  .grid_5
    = link_to "Follow", "#", :class => "button red"

%aside.grid_5
  %article
    = render 'company_images'

    - if user_signed_in?
      = fields_for CompanyImage.new do |f|
        = f.file_field :image, :rel => company_company_images_path(@company)                        
      = company_photo_uploadify

      %br
      = link_to @company.url, @company.url

      = form_tag company_company_images_path(@company), :remote => true, :multipart => true, :id => "add-remote-image" do
        = fields_for :image do |builder|
          = builder.text_field :remote_image_url, :id => "graburl", :placeholder => "Add a URL"
          %div{:style => "display:none"}
            = builder.submit
      .loading{:style => "display:none"}

    %nav
      %ul
        %li= link_to "Information", "#", :class => "active"
        %li= link_to "Products", "#"
        %li= link_to "Cases", "#"

#content.grid_14
  %section
    %h1 About
    %p 
      add an "about" (or description) in the companies companies model
      %br
      = link_to "home", @company.url, :style => "color:#0000FF;text-align:left", :target => "_blank"
    
      
  
  %section#location
    %small
    = link_to "Address Map", "http://maps.google.com/maps?q=1+Infinite+Loop,+Cupertino,+CA&hl=en&sll=37.0625,-95.677068&sspn=45.014453,96.767578&z=16", :style => "color:#0000FF;text-align:left", :target => "_blank"
    .clear
    Reserved for a iframe map... if we really need one 


  %section#contact
    %ul.table
      - @company.addresses.each do |address| 
        %li.row
          .cell.icon
            %span.fb
          .cell
            = address.address_type
          .cell
            = address.address
          .cell= link_to "Go to", "#", :class => "button"

  
    = form_for([@company, @company.addresses.build]) do |f|
      = f.collection_select :address_type, ['Street Address', 'Phone Number','Website','Twitter','Facebook'], :to_s, :to_s, {}
      = f.text_field :description
      = f.text_field :address
      = f.submit

  %h1 COMMENT: remove below, when above table works... retained for visual formatting
  %br
  %br
	
  %section#contact
    %ul.table
      %li.row
        .cell.icon
          %span.fb
        .cell Facebook
        .cell http://www.facebook.com/pages/Apple-Inc/137947732957611
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.tt
        .cell Twitter
        .cell http://twitter.com/apple
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.world_link
        .cell Apple Australia
        .cell http://apple.com/au
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.world_link
        .cell Apple Inc
        .cell http://apple.com
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
    
    = form_tag "#", :class => "add-cont" do
      = select_tag "something", options_for_select([["Type", ""],["Phone", ""],["Address", ""],["Website", ""]])
      = text_field_tag "something", "", :placeholder => "Title" 
      = text_field_tag "something", "", :placeholder => "Value" 
      = submit_tag "Add"

%aside.grid_5
  %article
    %h4 100 people have Apple Inc products
    Reserved for a grid of users.
  %article
    %h4 Twitter
    %ul
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
  %article
    %h4 Facebook
    %ul
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
.clear

- content_for :javascripts do
  :javascript
    $(function() {
      $('#add-remote-image').bind('submit', function() {
        $('.loading', 'aside').show();
      });

      $('#add-remote-image').bind('ajax:complete', function(e, xhr, settings) {
        $('.loading', 'aside').hide();
        $('#graburl').val('');
        $('body').trigger('insertImage', xhr.responseText);
      });
    });
