- content_for :page_style do
  = include_stylesheets :company, :logged_in

%header
  %h2.grid_19 Apple Inc.
  .grid_5
    = link_to "Follow", "#", :class => "button red"

%aside.grid_5
  = image_tag "http://goo.gl/4vNEk", :class => "bigthumb"
  
  %article
    %nav
      %ul
        %li= link_to "Information", "#", :class => "active"
        %li= link_to "Products", "#"
        %li= link_to "Cases", "#"

#content.grid_14
  %section
    %h1 About
    %p 
      Apple Inc. (NASDAQ: AAPL; NYSE: AAPL; previously Apple Computer, Inc.) is an American multinational corporation that designs and markets consumer electronics, computer software, and personal computers. The company's best-known hardware products include the Macintosh line of computers, the iPod, the iPhone and the iPad.
      %br 
      \- 
      = link_to "Wikipedia", "http://en.wikipedia.org/wiki/Apple_inc"
  
  %section#location
    .fl
      %ul
        %li 
          1 Infinite Loop
          %br/
          Cupertino, CA 95014
          %br/
          USA
      
      = form_tag "#", :class => "add-address" do
        %ul
          %li= text_field_tag "street", "", :placeholder => "Street"
          %li= text_field_tag "state", "", :placeholder => "State"
          %li= text_field_tag "postcode", "", :placeholder => "Post code"
          %li= text_field_tag "country", "", :placeholder => "Country"
    
    .fr
      %iframe(frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1+Infinite+Loop,+Cupertino,+CA+95014,+USA&amp;aq=0&amp;sll=-32.055866,115.826022&amp;sspn=0.010257,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=1+Infinite+Loop,+Cupertino,+California+95014&amp;ll=37.330526,-122.029093&amp;spn=0.082171,0.154324&amp;z=13&amp;output=embed")
      %br/
      %small
        = link_to "View Larger Map", "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1+Infinite+Loop,+Cupertino,+CA+95014,+USA&amp;aq=0&amp;sll=-32.055866,115.826022&amp;sspn=0.010257,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=1+Infinite+Loop,+Cupertino,+California+95014&amp;z=14&amp;ll=37.330526,-122.029093", :style => "color:#0000FF;text-align:left", :target => "_blank"
    .clear
  
  %section#contact
    %ul.table
      %li.row
        .cell.icon
          %span.fb
        .cell Facebook
        .cell http://www.facebook.com/pages/Apple-Inc/137947732957611
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.tt
        .cell Twitter
        .cell http://twitter.com/apple
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.world_link
        .cell Apple Australia
        .cell http://apple.com/au
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.world_link
        .cell Apple Inc
        .cell http://apple.com
        .cell= link_to "Go to", "#", :class => "button"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
      %li.row
        .cell.icon
          %span.phone
        .cell Apple Enterprise Sales
        .cell (877) 412-7753
        .cell= link_to "Call", "#", :class => "button call"
    
    = form_tag "#", :class => "add-cont" do
      = select_tag "something", options_for_select([["Type", ""],["Phone", ""],["Address", ""],["Website", ""]])
      = text_field_tag "something", "", :placeholder => "Title" 
      = text_field_tag "something", "", :placeholder => "Value" 
      = submit_tag "Add"

%aside.grid_5
  %article
    %h4 100 people have Apple Inc products
    Reserved for a grid of users.
  %article
    %h4 Twitter
    %ul
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
  %article
    %h4 Facebook
    %ul
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
      %li= link_to "", "#"
.clear
