<h2>Forgot your password?</h2>

<%= form_for(@user, :as => "user", :url => user_password_path, :html => { :method => :post }) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
