<div id="login-page">
  <div class="box">
    <div id="forms" class="block">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <fieldset class="login">
          <legend>Login</legend>
          <span class="login-text">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </span>
          <span class="login-text">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </span>
          <% if devise_mapping.rememberable? -%>
            <p>
              <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </p>
          <% end -%>
          <%= submit_tag 'Log in', :class => "confirm button" %>
            <%= render :partial => "devise/shared/links" %>
        </fieldset>
      <% end %>
    </div>

  </div>
</div>
