%h2.title= @item.name

= form_for @item, :remote => true, :method => :put do |f|
  = f.text_area :review,
                :cols => nil,
                :rows => nil,
                :style => 'min-height: 250px; width: 100%;',
                :value => h(sanitize(@item.review, :tags => %w(p b i u strike ul ol li blockquote), :attributes => %w(id class style)))

  %ul.finalstep
    .fl
      %li= f.label :privacy
      %li= select 'item', 'privacy', {:Private => 'private', :Public => 'public'}
    .fr
      %li= f.submit 'Save'
      %li= link_to "Cancel", "#", :class => "button red cancel-edit"
