%h2.title= @item.name

= form_for @item, :remote => true, :method => :put do |f|
  = f.label :name
  = f.text_field :name

  = f.label :review
  = f.text_area :review,
                :cols => nil,
                :rows => nil,
                :style => 'min-height: 250px; width: 100%;',
                :value => h(html_clean @item.review)

  = f.label :privacy
  = select 'item', 'privacy', {:Private => 'private', :Public => 'public'}

  = f.submit 'Save'
  %a{ :class => 'button red cancel', :href => '#' } Cancel
