
#item-privacy-control= button_to "#{privacy_display_for @item}",  update_item_privacy_path(@item), :remote => true, :method => :put, :class => "#{@item.privacy}_item"
#current-privacy-indicator
  = @item.privacy

= form_tag @item, :remote => true do
  .social
    .twitter_button
      = link_to image_tag('twitter_24x24.png'), '#'
      = check_box_tag "item[shared_twitter]", 1, false, :class => 'shared_tt_checkbox', :id => "item_shared_tt_#{@item.id}"
    .facebook_button
      = link_to image_tag('facebook_24x24.png'), '#'
      = check_box_tag "item[shared_facebook]", 1, false, :class => 'shared_fb_checkbox', :id => "item_shared_fb_#{@item.id}"
    = submit_tag "Share"
