= link_to "Back", home_path
%aside.grid_4
  = render 'images'

  #image-field
  .clear

  #photos
    = fields_for ItemImage.new do |f|
      = f.file_field :image, :rel => item_images_path(@item)                        

= photo_uploadify
#content.grid_8

  #item-details
    %h2#title.headline ITEM DETAILS - #{@item.name}

    #text-fields
      .column
        %p.fields
          %strong Name:
          %br/
          #{best_in_place @item, :name, :path => [current_user, @item] }
        %p.fields
          %strong Review:
          %br/
          #{best_in_place @item, :review, :path => [current_user, @item] }
        %p.fields
          %strong Rating:
          %div{:id => "item_#{@item.id}_rating", :class => "rating"}
            = form_for [@user, @item], :remote => true do |f|
              %div{:id => "stars-wrapper-#{@item.id}"}
                = f.collection_select :rating, [1, 2, 3, 4 ,5], :to_s, :to_s, {}

      .column
        %p.fields
          = render :partial => 'items/privacy_controls', :locals => {:item => @item }
        %br/
        %p.fields
          %strong Added on: 
          = @item.created_at.strftime('%D')
        %p.fields 
          %strong Last updated on:
          #item-urls= link_to @item.url, @item.url

      .column
        = render 'url_preview'

  



#new_interaction_box
  #interaction_input_box
    = form_for [@item, @interaction = Interaction.new], :remote => true do |f|
      = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts"
      = f.submit 'Save', :id => 'item-interaction-submit'
      .social
        .twitter_button
          = link_to image_tag('twitter_24x24.png'), '#'
          = f.check_box :shared_twitter, :class => 'shared_tt_checkbox', :id => 'interaction_shared_tt'
        .facebook_button
          = link_to image_tag('facebook_24x24.png'), '#'
          = f.check_box :shared_facebook, :class => 'shared_fb_checkbox', :id => 'interaction_shared_fb'
      #interaction_stars
        = f.collection_select :rating, [1, 2, 3], :to_s, :to_s, {}
      .clear

- if @item.interactions.count == 0
  %h2.headline There are no interactions for this Item
  %hr
- else 
  %h2.headline Interactions for: #{@item.name}
  %hr

#interactions
  #interactions_feed= render :partial => 'home/interaction', :collection => @item.interactions.order('created_at desc')

- content_for :jquery do
  :javascript
    $(document).ready(function(){
      $("#stars-wrapper-#{@item.id}").stars({
        inputType: "select",
        callback: function(ui, type, value, event){
          var item = #{@item.id};
          update_rating('items', item,value);
        },
        cancelShow: false
      });

      $("#interaction_stars").stars({
        inputType: "select",
        cancelShow: false
      });
    });
