= include_stylesheets :item_new

%ul.action-menu
  %li= link_to "Rate what you have", "", :class => "active"
  %li= link_to "Get advice", ""
  %li= link_to "Track an issue", ""

= form_for [current_user, @item], :html => {:class => 'action addhave'} do |f|
  = f.text_field :name, :placeholder => "Add something you have"
  #google_search= link_to "Add link", ""
  
  #other_attribs{:class => "hide"}
    #url_and_dropdown_container{:style => "position:relative;"}
      = f.text_field :url, :placeholder => "Add a URL"
      .hide#main-dropdown
        %ul#dropdown
        
    = f.hidden_field :company_id

    = f.hidden_field :product_id
    = f.hidden_field :image_url

    = f.text_area :description, :style => "display:none;"#, :class => "fr"
    
    #url_preview
      #img_selector_parent{:style => "display: block;"}
        %table.fl
          %tbody
            %tr
              %td#img_controls
                #prev_image{:disabled => "disabled"}
                  = image_tag "prev_img.png"
                #next_image{:disabled => "disabled"}
                  = image_tag "next_img.png"
                .clear
            %tr
              %td#img_selector
          .clear

    = f.text_area :review, :placeholder => "Review"
    .clear
    = f.text_field :tag_list, :placeholder => "+ Add tags"
    /= text_field_tag :company_name, "", :placeholder => "Company Name"
    = f.submit "save", :class => "button blue"
    = f.submit "clear", :class => "button", :id => "clear_item_fields"
    .clear
  .clear

#offscreen_div
  
- content_for :javascripts do
  :javascript
    $(document).ready(function(){

      // what?
      $("#search-by-title").click(function(){
        if ($('input#item_name').val()){
          window.product_search_term = $('input#item_name').val();
          $.facebox({ ajax : "/products/static_search"});
        }
        return false;
      });
      
      //*****************************
      // Image preview/selection
      //*****************************
      #{ render "items/image_preview.js" }
      
      // from item name text field
      // user has selected product or an URL from Google
      function userSelectedProductOrUrl(type){
        //alert("Show div");
        if (type == "product"){
          $("#google_search").css({ display:"none"});
          $("#item_description").css({display:''});
        }
        else
        {
          $("#google_search").css({ display:""});
          $("#item_description").css({display:'none'});
        }
        $("#other_attribs").css({"display":"block"});
      }
      
      //*****************************
      // Product auto-complete code starts below
      //*****************************
      
      // It gets called from js in partial below
      var product_selected = function(event, ui){

        $("#item_product_id").val(ui.item.id);
      
        $("#item_name").attr('readonly', 'readonly');
        $("#item_url").attr('readonly', 'readonly');
        $("#item_description").attr('readonly', 'readonly');
        

        $("#item_name").val(ui.item.name);
        $("#item_name").change();
      
        $("#item_url").val(ui.item.url);
        $("#item_url").change();
        
        $("#item_description").parent().parent().css({ display : '' });
        $("#item_description").val(ui.item.description);
        $("#item_description").change();
        
        $("#img_selector img").css({ "display" : "none"});
        var current_img = $("#img_selector img:nth-child(" + (current_image_indx + 1) + ")");
        current_img.css({"display" : "block"});
        
        var new_image = $("<img src='"+ui.item.main_image+"' />");
        append_image(new_image);
        $("#item_image_url").val(new_image.get(0).src); //ui.item.main_image);

        // set company_id
        $("#item_company_id").val(ui.item.company_id);
        
        // TODO: Also set Company name
        $("#company_name").val(ui.item.company_name); // But it is not provided in returned JSON
        $("#company_name").attr("readonly", "readonly");
        
        userSelectedProductOrUrl("product");
        
        return true;

      };
      
      #{ render "items/product_autocomplete.js" }

      attachProductAutoComplete("input#item_name");
      

      //*****************************
      // Google search / autocomplete / URL selection
      //*****************************
      #{ render "items/google_search.js" }



      $("#clear_item_fields").click(function(){
        $.facebox({
          ajax : "#{ new_item_path }"
        });
        return false;
      });
      
      $("#item_name").change(function(){
        // TODO: Update the review according to possession status
        var possession_status = "have";
        if ( possession_status == "want" ) {
          var review_placeholder = "Why do you want " + $('#item_name').val() + "?";
        }
        else
        {
          var review_placeholder = "What do you think of " + $('#item_name').val() + "?";
        }        
        $('#item_review').attr("placeholder", review_placeholder);
      });
      
      //******************************
      //******************************
      //******************************
      //******************************
      // Unused code below
      //******************************
      //******************************
      //******************************
      
      // Uncomment when company_name is added
      /*
      var update_item_company = function(company){
        $("#company_name").val(company.name);
        $("#item_company_id").val(company.id);
        $("#company_name").attr("readonly", "readonly");
      };

      #{ render "items/company_autocomplete.js" }
      */
      
    });
