- content_for :page_style do
  = include_stylesheets :item_detail

#content.grid_14
  %section#review    
    .revpost
      = link_to "Edit Item", '#', :class => "edit-cntrl", :id => "edit-review-link"
      
      .title= raw format h @item.name
      .clear
      .fl.galsect
        = render 'images'
      #rendered-review.fl
        #options
          = link_to @item.url, @item.url
        - if @item.review.blank?
          = render 'default_review'
        - else
          = raw sanitize @item.review, :tags => %w(p strong em ul ol li blockquote), :attributes => %w(id class style)
      #review-editor
        = form_for @item, :remote => true, :method => :put do |f|
          = f.text_area :review, :value => h(sanitize(@item.review, :tags => %w(p strong em ul ol li blockquote), :attributes => %w(id class style)))
          = f.submit 'Save'
    .clear
    
    #review_status
    = form_for [current_user, @item], :remote => true, :method => 'PUT' do |f|
      = f.text_field :tag_list, :placeholder => "+ Add Tags"
    #footerbit
      Written #{@item.created_at.to_date} - Edited #{time_ago_in_words @item.updated_at} ago |
      %a{:href => ""} #{pluralize @item.comment_threads.count, "Comment"}
      \-
      = privacy_control_for @item
      /%div{ :class => "fn status #{@item.privacy if @item.is_private?}" }= @item.privacy
    .clear
     
  = comments_section_for @item

%aside.grid_6
  %article
    %h4 Your opinion
    = form_tag item_save_opinion_path, :remote => true do
      = select_tag :opinion, options_for_select(Item::OPINION.map { |o| [o.humanize, Item::OPINION.index(o)] }, Item::OPINION.index(@item.opinion)), :class => "sel_opinion"
      .loading{:style => "display:none;float:left"}
      .clear
      = hidden_field_tag :id, @item.id
    .clear
  %article
    %h4 Share it
    = form_tag item_post_to_facebook_path(@item), :remote => true, :class => "table", :id => "form-ask-friend" do
      = text_field_tag :message, "", :placeholder => "Message"
      %ul.finalstep.buttons.fr
        %li.fb{:title => "post to facebook"}
          / facebook checkbox goes here
        %li.tt
          / twitter checkbox goes here
        %li.privacy
          / privacy drop down goes here
        %li
          = hidden_field_tag :link, item_url(@item)
          = link_to "Share", "#", :id => 'button-ask-friend', :class => "button green"
          .loading{:style => "display:none;float:left"}
      .clear
  %article= link_to "open case", "#", :class => "button"
.clear

- content_for :javascripts do
  = javascript_include_tag 'ckeditor/ckeditor.js'
  = javascript_include_tag 'application/item_detail.js'

  :javascript
    $(document).ready(function() {
      #{render 'tags/taggable.js.erb', :taggable => @item} 

      var editor;

      // For commment loading animation.
      $('.new_comment').live('ajax:beforeSend', function() {
        var cmt = $(this).find('textarea');
        if ($(cmt).val().trim().length == 0) {
          alert("Comment can't be empty");
          return false;
        };

        $(this).find('.loading').show();
      });

      $('.new_comment').live('ajax:complete', function() {
        $(this).find('.loading').hide();
      });
      // End loading animation.

      function showEditor(){
        editor = CKEDITOR.replace('item_review',{
          customConfig: '/javascripts/ckeditor_custom/item_review_config.js' 
        });
      }

      $('#edit-review-link').click(function(){
        showEditor();
        $('#rendered-review').hide();
        $('#review-editor').show();
      });


      $('form.edit_item').live('ajax:success', function(event, data, status, xhr){
        var editor_data = CKEDITOR.instances.item_review.getData();
        $('#rendered-review').html(editor_data);
        $('#rendered-review').show();
        $('form.edit_item textarea').val(editor_data);
        $('#review-editor').hide();
        editor.destroy();
      });

      $('#add-remote-image').bind('submit', function() {
        $('.loading', 'aside').show();
      });
      $('#add-remote-image').bind('ajax:complete', function(e, xhr, settings) {
        $('.loading', 'aside').hide();
        $('#graburl').val('');
        $('body').trigger('insertImage', xhr.responseText);
      });
    });
