- content_for :page_style do
  = include_stylesheets :wysiwyg
  = include_stylesheets :item_detail

#content.grid_14
  %nav#secondary
    %ul
      %li= link_to "Have", have_path(current_user)
      %li= link_to "Want", want_path(current_user)
      %li= link_to "Case", user_cases_path(current_user)
  %section#review
    = image_tag @item.main_image, :class => "fl big thumb"
    .fl.cont
      %h2= @item.name
      = link_to "Edit this item", '#', :class => "button", :id => "edit-review-link"
      %div{ :class => "status #{@item.privacy}" }= @item.privacy
      - if @item.opinion == "horrible!"
        %div{ :class => "opinion hate" } You don't recommend this
      - elsif @item.opinion == "i_recommend_this!"
        %div{ :class => "opinion recommended" } You recommend this
      - else
        %div{ :class => "opinion neutral" } You have no opinion
      
      .clear
      .revpost
        #rendered-review
          #options
          - if @item.review.blank?
            = render 'default_review'
          - else
            = html_clean @item.review
      .clear
  
      #footerbit
        Written #{@item.created_at.to_date} - Edited #{time_ago_in_words @item.updated_at} ago
        \| Comments 
        = @item.comment_threads.count
      
      = comments_section_for @item
    .clear

= render :partial => "items/item_sidebar"
  
.clear

- content_for :javascripts do
  = include_javascripts :wysiwyg
  = include_javascripts :item_detail

  :javascript
    $(document).ready(function() {
      #{render 'tags/taggable.js.erb', :taggable => @item} 

      var editor;

      // For commment loading animation.
      $('.new_comment').live('ajax:beforeSend', function() {
        var cmt = $(this).find('textarea');
        if ($(cmt).val().trim().length == 0) {
          alert("Comment can't be empty");
          return false;
        };

        $(this).find('.loading').show();
      });

      $('.new_comment').live('ajax:complete', function() {
        $(this).find('.loading').hide();
      });
      // End loading animation.

      $('#edit-review-link').click(function(){
        $.get('#{edit_item_path}', function(html){
          $.facebox(html);

          $('#facebox').find('textarea').wysiwyg({
            controls: {
              bold: { visible: true },
              italic: { visible: true },
              underline: { visible: true },
              strikeThrough: { visible: true },

              justifyLeft: { visible: true },
              justifyCenter: { visible: true },
              justifyRight: { visible: true },
              justifyFull: { visible: true },

              undo: { visible: true },
              redo: { visible: true },

              insertOrderedList: { visible: true },
              insertUnorderedList: { visible: true },

              createLink: { visible: true },
              insertImage: { visible: true },

              paragraph: { visible: true },
            },
            rmUnusedControls: true
          });

          $('#facebox').find('.cancel-edit').click(function(){
            $(document).trigger('close.facebox');
          });
        }, 'html');
      });


      $('form.edit_item').live('ajax:success', function(event, data, status, xhr){
        var $facebox = $('#facebox');

        $('div.title').text($facebox.find('#item_name').val());
        $('#rendered-review').html($facebox.find('#item_review').val());

        $(document).trigger('close.facebox');
      });
    });
