- content_for :page_style do
  = include_stylesheets :item_detail

%header
  %h2
    = link_to "Add Company", new_company_path, :class => 'tag company'
    = @item.name

%aside.grid_5
  %article
    = render 'images'

    = fields_for ItemImage.new do |f|
      = f.file_field :image, :rel => item_images_path(@item)                        
    = photo_uploadify

    = form_tag item_images_path(@item), :remote => true, :multipart => true, :id => "add-remote-image" do
      = fields_for :image do |builder|
        = builder.text_field :remote_image_url, :id => "graburl", :placeholder => "Add a URL"
        %div{:style => "display:none"}
          = builder.submit
    .loading{:style => "display:none"}

    = link_to @item.url, @item.url
#content.grid_13
  #helptool
    %ul
      %li
        = link_to '#' do
          %h3 Write your review
          Give an honest review about your experience with their products.
      %li
        = link_to '#' do
          %h3 Sharing
          You can easily share your review with your friends on your social networks.
      %li
        = link_to '#' do
          %h3 Ask your friends
          Need advice from your friends? Its easy to ask your social networks a quick question!
    .clear
    .close
  %section#review
    = link_to "Edit review", '#', :class => "edit-cntrl", :id => "edit-review-link"
    .title Review
    #rendered-review
      - if @item.review.blank?
        = render 'default_review'
      - else
        = raw @item.review
    #review-editor
      = form_for @item, :remote => true, :method => :put do |f|
        = f.text_area :review
        = f.submit 'Save'
    #review_status 
  %section#new-comment
    = render 'comments/form', :commentable => @item
  %ul#comments.table
    = render :partial => 'comments/comment', :collection => @item.comments.reverse, :locals => { :commentable => @item }
%aside.grid_6
  %article
    %h4 What do you think about the product?
    %select
      %option No opinion
      %option I recommend this!
      %option Horrible!
  %article
    %h4 Publish
    .table
      /
        <div class="row">
        <div class="cell">
        <a href="" class="button edit">Edit review</a>
        </div>
        </div>
      .row
        .cell.left Visibility:
        .cell.right
          = render :partial => 'items/privacy_controls', :locals => {:item => @item }
          /%em #{@item.privacy.capitalize}
          /%a{:href => ""} Change
      - if @item.is_public?
        .row
          .cell.left Share link:
          .cell.right
            %input{:type => "text", :value => item_url(@item)}/
  %article
    %h4 Ask your friends for advice
    %form.table
      .row
        .cell
          %input{:type => "text"}/
      .row
        .cell.left Ask your
        .cell.right
          %ul.sharebts
            %li.sharebt.fb
              facebook
              .close
            %li.sharebt.twitter
              twitter
              .close
      %a.button.fr{:href => ""} Ask
  %article
    %h4 Feeds
    Reserved for a feed of other people's reviews.
.clear

- content_for :javascripts do
  = javascript_include_tag 'ckeditor/ckeditor.js'

  :javascript

    $(document).ready(function() {
      var editor;

      function showEditor(){
        editor = CKEDITOR.replace('item_review',{
          customConfig: '/javascripts/ckeditor_custom/item_review_config.js' 
        });
      }

      $('#edit-review-link').click(function(){
        showEditor();
        $('#rendered-review').hide();
        $('#review-editor').show();
      });


      $('form.edit_item').live('ajax:success', function(event, data, status, xhr){
        var editor_data = CKEDITOR.instances.item_review.getData();
        $('#rendered-review').html(editor_data);
        $('#rendered-review').show();
        $('form.edit_item textarea').val(editor_data);
        $('#review-editor').hide();
        editor.destroy();
      });






      $('#add-remote-image').bind('submit', function() {
        $('.loading', 'aside').show();
      });
      $('#add-remote-image').bind('ajax:complete', function(e, xhr, settings) {
        $('.loading', 'aside').hide();
        $('#graburl').val('');
        $('body').trigger('insertImage', xhr.responseText);
      });
    });
