- content_for :page_style do
  = include_stylesheets :item_detail
  
#content.grid_14
  %section#review
    .title
      .fl #{@item.name}
      .fr 
        - if @item.opinion == "horrible!"
          %div{ :class => "opinion hate" }= image_tag "thumb_down.png"
        - elsif @item.opinion == "i_recommend_this!"
          %div{ :class => "opinion recommended" }= image_tag "thumb_up.png"
        - else
          %div{ :class => "opinion neutral" } ...
      .clear
    #rendered-review
      - if @item.review.blank?
        = render 'default_review'
      - else
        .fl
          = image_tag @item.main_image, :class => "medthumb"
        #options
        = html_clean @item.review
    .clear
    #footerbit
      Written #{@item.created_at.to_date} - Edited #{time_ago_in_words @item.updated_at} ago | Comments 
      = @item.comment_threads.count
    .clear
  .clear
  %section#new-comment
    - if user_signed_in?
      = comment_form_for @item
    - else
      = link_to "Login to post comments!", login_popup_path, :class => 'facebox'
  %ul#comments.table
    = comment_collection_for @item

%aside.grid_6
  %article
    = image_tag @item.user.main_image, :class => "userthumb fl"
    .fl
      %h3= link_to @item.user.name, profile_path(@item.user), :class => "uname"
      .buttons
        = follow_link_for @item.user
        = link_to "view profile", profile_path(@item.user), :class => "button"
    .clear
  - if @item.name == "serrano hobo" || @item.name == "hermann mini"
    %article
      .coupon Get 15% off this product! <br /> just use the shop coupon PRIZZM15 @ <a href="http://shopbryna.com">BRYNA</a> 
  %article
    = link_to "I want this",  login_popup_path, :class => "facebox button fw"
    = link_to "I have this",  login_popup_path, :class => "facebox button fw"
    .clear
  %article
    %h4 Share it
    = form_tag item_post_to_facebook_path(@item), :remote => true, :class => "table", :id => "form-ask-friend" do
      = text_field_tag :message, "", :placeholder => "Message"
      %ul.finalstep.buttons.fr
        %li.fb{:title => "post to facebook"}
          / facebook checkbox goes here
        %li.tt
          / twitter checkbox goes here
        %li.privacy
          / privacy drop down goes here
        %li
          = hidden_field_tag :link, item_url(@item)
          = link_to "Share", "#", :id => 'button-ask-friend', :class => "button green"
          .loading{:style => "display:none;float:left"}
      .clear
    
  
