= link_to "Back", home_path

%h2#title.headline ITEM DETAILS - #{resource.name}

%p Name: #{best_in_place @item, :name, :path => [current_user, @item] }
%p Description: #{best_in_place @item, :description, :path => [current_user, @item] }
%p Industry: #{best_in_place @item, :industry, :path => [current_user, @item] }
%p Contact Name: #{best_in_place @item, :contact_name, :path => [current_user, @item] }
%p= link_to @item.url, @item.url
%p Address: #{best_in_place @item, :address, :path => [current_user, @item] }
%p Email: #{best_in_place @item, :email, :path => [current_user, @item] }
#{mail_to @item.email}
%p Phone Number: #{best_in_place @item, :phone_number, :path => [current_user, @item] }
%p Secondary Number: #{best_in_place @item, :secondary_number, :path => [current_user, @item] }
%p Facebook: #{best_in_place @item, :facebook, :path => [current_user, @item] }
%p Twitter: #{best_in_place @item, :twitter, :path => [current_user, @item] }
%p Rating: 
%div(id="item_#{@item.id}_rating" class="rating")
  = form_for [@user, @item], :remote => true do |f|
    %div{:id => "stars-wrapper-#{@item.id}"}
      = f.collection_select :rating, [1, 2, 3, 4, 5], :to_s, :to_s, {}
    :javascript
      $("#stars-wrapper-#{@item.id}").stars({
        inputType: "select",
        callback: function(ui, type, value, event){
          var item = #{@item.id};
          update_rating('items', item,value);
        },
        cancelShow: false
      });
%br
%p= image_tag @item.photo_url
%p Created At: #{@item.created_at.strftime('%D')}
%p Updated At: #{@item.updated_at.strftime('%D')}

#new_interaction_box
  #interaction_input_box
    = form_for [current_user, @interaction = Interaction.new], :remote => true do |f|
      = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts"
      #interaction_stars
        = f.collection_select :rating, [1, 2, 3, 4, 5], :to_s, :to_s, {}
      .social
        .twitter_button
          = link_to image_tag('twitter_24x24.png'), '#'
          = f.check_box :shared_twitter
        .facebook_button
          = link_to image_tag('facebook_24x24.png'), '#'
          = f.check_box :shared_facebook
      = f.hidden_field :new_items, :value => @item.id
      = f.submit 'Add Interaction', :id => 'item-interaction-submit'
    :javascript
      $("#interaction_stars").stars({
        inputType: "select",
        cancelShow: false
      });

- if @item.interactions.count == 0
  %h3 There are no interactions for this Item
- else 
  %h3 Interactions for: #{@item.name}

%hr
#interactions_feed= render :partial => 'home/interaction', :collection => @item.interactions.order('created_at desc')
