- content_for :page_style do
  = include_stylesheets :item_detail

%header 
  %h2.grid_5 #{@item.name}  
  .grid_19
    .buttons
      %a.button.add{:href => ""} Want It!

%aside.grid_5
  = render 'images'
  %br
  %h4
  %h3= link_to @item.url, @item.url


#content.grid_13
  %section#review
    .title Review
    #rendered-review
      - if @item.review.blank?
        = render 'default_review'
      - else
        = raw @item.review
    #footerbit
      Written #{@item.created_at.to_date} - Edited #{time_ago_in_words @item.updated_at} ago |
      %a{:href => ""} #{pluralize @item.comments.count, "Comment"}
  - if user_signed_in?
    %section#new-comment
      = render 'comments/form', :commentable => @item
  - else
    = link_to "Login to post comments!", login_popup_path, :class => 'facebox'
  %ul#comments.table
    = render :partial => 'comments/comment', :collection => @item.comments.reverse, :locals => { :commentable => @item }

%aside.grid_6
  %article
    %h4 Owner of this product
    = image_tag @item.user.main_image, :class => "userthumb fl"
    %h5= @item.user.name
    = follow_link_for @item.user
    = link_to "View profile", profile_path(@item.user)
  %article
    #rating.recommended I recommend this
  %article
    %h4 Who else owns this?
    Grid of people's profile images who own this same product.
  %article
    %h4 What other people are saying
    Reserved for a feed of other people's reviews.
.clear
