- content_for :page_style do
  = include_stylesheets :item_detail

%aside.grid_5
  %article
    = render 'images'
    = fields_for ItemImage.new do |f|
      = f.file_field :image, :rel => item_images_path(@item)                        
    = photo_uploadify
    = link_to @item.url, @item.url

    = form_tag item_images_path(@item), :remote => true, :multipart => true, :id => "add-remote-image" do
      = fields_for :image do |builder|
        = builder.text_field :remote_image_url, :id => "graburl", :placeholder => "Add a URL"
        %div{:style => "display:none"}
          = builder.submit
    .loading{:style => "display:none"}

#content.grid_13
  %section#review
    = link_to "Edit review", '#', :class => "edit-cntrl", :id => "edit-review-link"
    .title= @item.name
    #rendered-review
      - if @item.review.blank?
        = render 'default_review'
      - else
        = raw @item.review
    #review-editor
      = form_for @item, :remote => true, :method => :put do |f|
        = f.text_area :review
        = f.submit 'Save'
    #review_status
    = form_for [current_user, @item], :remote => true, :method => 'PUT' do |f|
      = f.text_field :tag_list, :placeholder => "+ Add Tags", :title => "+Add Tags", :class => "jq_watermark"
  /
    .title Company
    #company
      = render "company", :company => @item.company
     
  = comments_section_for @item

%aside.grid_6
  %article
    %h4 What do you think about the product?
    %select
      %option No opinion
      %option I recommend this!
      %option Horrible!
  %article
    %h4 Publish
    .table
      .row
        .cell.left Visibility:
        .cell.right
          = privacy_control_for @item
      - if @item.is_public?
        .row
          .cell.left Share link:
          .cell.right
            %input{:type => "text", :value => item_url(@item)}/
  %article
    %h4 Ask your friends for advice
    = form_tag item_post_to_facebook_path(@item), :remote => true, :class => "table", :id => "form-ask-friend" do
      .row
        .cell
          = text_field_tag :message
          = hidden_field_tag :link, item_url(@item)
      .row
        .cell.left Ask your
        .cell.right
          %ul.sharebts
            %li.sharebt.fb.active
              facebook
              .close
            %li.sharebt.twitter
              twitter
              .close
      = link_to "Ask", "#", :id => 'button-ask-friend', :class => "button fr"
      .loading{:style => "display:none;float:left"}
  %article
    %h4 Feeds
    Reserved for a feed of other people's reviews.
.clear

- content_for :javascripts do
  = javascript_include_tag 'ckeditor/ckeditor.js'

  :javascript

    $(document).ready(function() {


      var data = [
        {value: "case", name: "case"}
      ];

      $('#item_tag_list').autoSuggest(data,
        {
          startText: "+ Add tags",
          preFill: "#{@item.tag_list}",
          neverSubmit: true,
          selectionAdded: function(element){
            //element.fadeTo("slow", 0.33);
            var tag = $(element);
            tag = $.trim(tag);

            console.log(tag);
            if (tag.length > 0 ) {
              console.log($.dump(element));
              console.log('Tag: ' + $.dump(tag));
              console.log(element);
              //console.log($.dump($(this)));
              //console.log($(this));
            }
          
          },
          selectionRemoved: function(element){
            element.fadeTo("fast", 0, function(){
              element.remove();
            });
            //console.log($.dump(element));
            //console.log($.dump($(this)));
            //console.log($(this));
          }
      });


      var editor;

      // For commment loading animation.
      $('.new_comment').live('ajax:beforeSend', function() {
        var cmt = $(this).find('textarea');
        if ($(cmt).val().trim().length == 0) {
          alert("Comment can't be empty");
          return false;
        };

        $(this).find('.loading').show();
      });

      $('.new_comment').live('ajax:complete', function() {
        $(this).find('.loading').hide();
      });
      // End loading animation.

      function showEditor(){
        editor = CKEDITOR.replace('item_review',{
          customConfig: '/javascripts/ckeditor_custom/item_review_config.js' 
        });
      }

      $('#edit-review-link').click(function(){
        showEditor();
        $('#rendered-review').hide();
        $('#review-editor').show();
      });


      $('form.edit_item').live('ajax:success', function(event, data, status, xhr){
        var editor_data = CKEDITOR.instances.item_review.getData();
        $('#rendered-review').html(editor_data);
        $('#rendered-review').show();
        $('form.edit_item textarea').val(editor_data);
        $('#review-editor').hide();
        editor.destroy();
      });

      $('#add-remote-image').bind('submit', function() {
        $('.loading', 'aside').show();
      });
      $('#add-remote-image').bind('ajax:complete', function(e, xhr, settings) {
        $('.loading', 'aside').hide();
        $('#graburl').val('');
        $('body').trigger('insertImage', xhr.responseText);
      });
      
      /*
      var update_item_company = function(company){

        $.ajax({
          type : 'PUT',
          url: '#{update_item_company_path}',
          data : {company_id : company.id},
          dataType: "script",
          success: function(r){
            // success
          }
        });

      };


      
    });
