%html{ :lang => "en"}

  %head
    %meta{:charset=>"utf-8"}
    %title #{@product_invitation.product.company.name} Invite - Powered by Prizzm
    %meta{:http=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    <!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen" /><![endif]-->
    %link{:rel=>"stylesheet", :href=>"/stylesheets/global.css"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/fonts.css"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/invite.css"}
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    =javascript_include_tag 'ckeditor/ckeditor.js'

  %body#main
    %header
      %a{:href=>""}
        %img{:class=>"fl", :src=>"/images/bryna-brand.png" ,:alt=>""}
        /= image_tag @product_invitation.product.company.main_image, :class => "fl"
        %h1.fl #{@product_invitation.product.company.name}
        .clear
    %section{:style=>"width:100%"}
      .title
        Thank you 
        %span{:style=>"text-transform:capitalize"}=@product_invitation.name
      %p
        It would really help us out at
        %em #{@product_invitation.product.company.name}
        if you let us know what
        %em you thought
        of our 
        = @product_invitation.product.name
        and
        %em share it
        with your friends too!
    
      =form_for @review,:url=>{:controller=>"product_reviews",:action=>"save",:acceptstatus=>params[:acceptstatus],:encrypted_id=>params[:encrypted_id]},:html=>{:name=>"review_form"} do |f|
        #itemdetail.fl
          /= image_tag "/images/bryna-brand.png"
          = image_tag @product_invitation.product.main_image, :class => "medthumb"
          %h2= @product_invitation.product.name
        =f.text_area :content, :class => "fr", :placeholder => "Say something about it"
        =f.hidden_field :id
        =f.hidden_field :product_invitation_id,:value=>@product_invitation.id
        =f.hidden_field :product_id,:value=>@product_invitation.product.id
        =hidden_field_tag :signin_type
      
        %ul.finalstep.fr
          %li= f.submit "I don't like facebook", :id => "standard_login"
          %li= f.submit "", :id => "facebook_login"
        .clear
    .clear


:javascript
  $(document).ready(function() {
    $('#standard_login').click(function(event){
      $('#signin_type').val('standard');
    });

    $('#facebook_login').click(function(event){
      $('#signin_type').val('facebook');
    });
  });
