- content_for :page_style do
  = stylesheet_link_tag 'item-public'
  = stylesheet_link_tag 'galleriffic-3'

%aside.grid_3
  = render 'items/images'
  .clear

  %br/
  = fields_for ItemImage.new do |f|
    = f.file_field :image, :rel => item_images_path(@item)                        

  = photo_uploadify

  #addimage-loader{:style => "display: none"}
.grid_6
  %h2 Your #{@item.name}
  %div{:id => "stats"}
    %div{:id => "item_#{@item.id}_rating", :class => "rating"}
      = form_for [@user, @item], :remote => true do |f|
        %div{:id => "stars-wrapper-#{@item.id}"}
          = f.collection_select :rating, [1, 2, 3, 4 ,5], :to_s, :to_s, {}
      = render :partial => 'items/privacy_controls', :locals => {:item => @item }
  
  #review
    %h3 Why do you want this?
    = link_to "edit"
    .edit
      = @item.review

  = comment_form_for @item

  #comments_feed
    #comments
      - if @item.comments.count == 0
        Be the first to comment!
      - else
        Comments on this item:
        = comment_collection_for @item

%aside.grid_3
  %article#ask
    %header.clearfix
      %h1 Ask your friends
    = render 'social/item_ask_friends'
  
  %article#survey
    %header.clearfix
      %h1 Survey
      
- content_for :jquery do
  :javascript
    $(document).ready(function(){

      $("#stars-wrapper-#{@item.id}").stars({
        inputType: "select",
    	callback: function(ui, type, value, event){
          var item = #{@item.id};
          update_rating('items', item,value);
        },
        cancelShow: false
      });
      
      
      $('#review .edit').editable("#{update_item_review_path(@item)}", {
        indicator : "Saving...",
        type      : "textarea",
        submit    : 'OK',
        method    : 'PUT',
        cancel    : 'cancel',
        tooltip   : "Click to edit your review...",
        onblur    : "submit",
        submitdata: {id: #{@item.id}},
        name      : "review",
        cssclass  : "review-input"
      });

      if (document.location.hash === "#write_review"){
    	$('#review .edit').trigger('click.editable');
      }
    });
