- content_for :page_style do
  = stylesheet_link_tag 'item-public'
  = stylesheet_link_tag 'galleriffic-3'

%aside.grid_3
  = render 'items/images'
  .clear

  = fields_for ItemImage.new do |f|
    = f.file_field :image, :rel => item_images_path(@item)                        

  = photo_uploadify

.grid_6
  %h2 Your #{@item.name}
  %div{:id => "stats"}
    %div{:id => "item_#{@item.id}_rating", :class => "rating"}
      = form_for [@user, @item], :remote => true do |f|
        %div{:id => "stars-wrapper-#{@item.id}"}
          = f.collection_select :rating, [1, 2, 3, 4 ,5], :to_s, :to_s, {}
      = render :partial => 'items/privacy_controls', :locals => {:item => @item }
  
  #review
    %h3 Review
    = link_to "edit"
    .edit
      = @item.review

  #new_interaction_box
    #interaction_input_box
      = form_for [@item, @interaction = Interaction.new], :remote => true do |f|
        #share-input
          = f.text_area :description, :id => 'interaction-input', :'data-text' => "Share your thoughts...", :placeholder => "Share your thoughts..."
          #interaction_stars
            = f.collection_select :rating, [1, 2, 3, 4, 5], :to_s, :to_s, {}
          .cancel
        .clear
        %ul.social
          %li Share to: 
          %li.twitter_button
            twitter
            = f.check_box :shared_twitter, :class => 'shared_tt_checkbox', :id => 'interaction_shared_tt'
          %li.facebook_button
            facebook
            = f.check_box :shared_facebook, :class => 'shared_fb_checkbox', :id => 'interaction_shared_fb'
        .clear
        = f.submit 'Share', :id => 'item-interaction-submit', :class => "button"
        
        .clear

  #interactions
    - if @item.interactions.count == 0
      Be the first to share your thoughts!
    - else
       
    #interactions_feed= render :partial => 'home/interaction', :collection => @item.interactions.order('created_at desc')

%aside.grid_3
  %article#ask
    %header.clearfix
      %h1 Ask your friends
  
  %article#survey
    %header.clearfix
      %h1 Survey

#interactions
  #interactions_feed= render :partial => 'home/interaction', :collection => @item.interactions.order('created_at desc')

- content_for :jquery do
  :javascript
    $(document).ready(function(){
      $("#stars-wrapper-#{@item.id}").stars({
        inputType: "select",
        callback: function(ui, type, value, event){
          var item = #{@item.id};
          update_rating('items', item,value);
        },
        cancelShow: false
      });

      $("#interaction_stars").stars({
        inputType: "select",
        cancelShow: false
      });
      
      $("#interaction-input").autoGrow();
      
      $('#review .edit').editable('http://www.example.com/save.php', {
        indicator : "Saving...",
        type      : "textarea",
        submit    : 'OK',
        cancel    : 'cancel',
        tooltip   : "Click to edit...",
        onblur    : "ignore",
        cssclass  : "review-input"
      });
    });
