= semantic_form_for @product do |f|
  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :description, :input_html => {:rows => 10, :placeholder => "Describe your product here"}
  = f.input :price
  = f.input :upc
  = f.input :product_type
  = f.commit_button "Save product info", :button_html => {:class => "btn primary large"}
