%h1 Listing products

%table
  %tr
    %th Namee
    %th Type
    %th Upc
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.namee
      %td= product.type
      %td= product.upc
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
