- if @products.count == 0
  .alert-messsage.block-message.error 
    You should add a few products to your inventory
    = link_to 'Add a New Product', new_company_product_path(current_company), :class => 'btn primary large'
- else
  %h1 
    Product listing
    = link_to 'Add a New Product', new_company_product_path(current_company), :class => 'btn primary large pull-right'
  %table
    %thead
      %tr
        %th Name
        %th Edit
        %td Delete
    %tbody
      - @products.each do |product|
        %tr
          %td
            = link_to product do
              = image_tag product.main_image_thumb
              %h6= product.name
          %td.actions
            = link_to 'mail templates', product_mail_templates_path(product)
            = link_to 'add invitation', product_product_invitations_path(product)
          %td
            = link_to  company_product_path(current_company, product), :confirm => 'Are you sure?', :method => :delete do
              = delete_icon



