- content_for :page_style do
  = include_stylesheets :item_detail
  
#content.grid_14
  %section#review
    .title
      .fl #{@product.name} - #{@product.price}
      .clear
    #rendered-review
      = @product.description
      .fl
    .clear
    #footerbit
      Written #{@product.created_at.to_date} - Edited #{time_ago_in_words @product.updated_at} ago |
    .clear
  .clear

  = link_to "Back", home_path

  = image_uploader_for @product
  = image_gallery_for @product

%aside.grid_6
  %article
    = image_tag @product.company.main_image, :class => "userthumb fl"
    .fl
      %h3= link_to @product.company.name, company_path(@product.company), :class => "uname"
      .buttons
        = link_to "view company", company_path(@product.company), :class => "button"
    .clear
  %article
    .buttons

    
