%h2 
  Product Detail: #{@product.name} - #{@product.price}
  .pull-right= image_uploader_for @product
  
= link_to "Edit product info", edit_company_product_path(current_company, @product)
%br
.row
  .hero-unit.offset1.span9
    %h3 Description:
    = @product.description

= link_to "Back", company_products_path(current_company)


%h4 Product Images
%ul.media-grid
  - @product.images.each do |image|
    %li= link_to image_tag(image.image.url, :class => 'thumbnail', :height => 150, :width => 210)
    /= link_to 'Delete image', image_path(object_type(@product), @product.id, image.id), :method => :delete
