%h2 
  Product Detail: #{@product.name} - #{@product.price}
  .pull-right= image_uploader_for @product
  
%br
.row
  .hero-unit.offset1.span9
    %h3 Description:
    = @product.description

= link_to "Back", company_products_path(current_company)
= link_to "Edit product info", edit_company_product_path(current_company, @product)

= image_gallery_for @product

