%li.item{:id => "item_#{item.id}", :class => "#{'rec' if item.opinion.to_i == 1}"}
  - if item.product.nil? == false
    = image_tag item.product.main_image, :class => "fl thumb"
  - else
    = image_tag item.main_image, :class => "fl thumb"

  .fl.cont
    / To remove when product isn't references in item columns
    - if item.product.nil? == false
      %h2= link_to item.product.name, item
    - else
      %h2= link_to item.name, item
    %div{ :class => "status #{item.privacy}" }= item.privacy

    - if current_user == @user
      You added this on #{item.created_at.to_date} and you
      - if item.opinion.to_i == 1
        %div{ :class => "opinion recommended" } recommend
      - elsif item.opinion.to_i == 2
        %div{ :class => "opinion hate" } don't recommend 
      - else
        %div{ :class => "opinion neutral" } have no opinion about
      this.
      
    - else
      = link_to @user.name, profile_path(@user)
      - if item.tag_list.include? 'have'
        has 
      - elsif item.tag_list.include? 'want'
        wants 
      this and
      - if item.opinion.to_i == 1
        %div{ :class => "opinion recommended" } recommends
      - elsif item.opinion.to_i == 2
        %div{ :class => "opinion hate" } doesn't recommend
      - else
        %div{ :class => "opinion neutral" } has no opinion about
      it.
  %ul.fr
    /
      %li
        = link_to "#", :class => "rec button" do
          = image_tag "rec-thumb.png"
          Recommend this
    - if current_user == @user
      %li
        %a.button.edit-item{ :data => {:id => item.id } }
          Edit this item


    /= link_to "", [current_user, item], :remote => true, :method => :delete, :class => "close", :confirm => "Are you sure you want to delete this item?"
  .clear
