%li.item{:id => "item_#{item.id}"}
  = image_tag item.main_image, :class => "fl thumb"
  .fl.cont
    %h2= link_to item.name, item
    Added: #{item.created_at.to_date}
    %div{ :class => "status #{item.privacy}" }= item.privacy
  %ul.fr
    /
      %li
        = link_to "#", :class => "rec button" do
          = image_tag "rec-thumb.png"
          Recommend this
    %li= link_to "Edit this item", item, :class => "button", :id => "edit-review-link"
    = link_to "", [current_user, item], :remote => true, :method => :delete, :class => "close", :confirm => "Are you sure you want to delete this item?"
  .clear