#content.grid_15

  %h2 What #{@user.first_name} has
  = link_to "Add item", new_item_path + "#create", :id => "action-button", :class => "add button facebox" 
  .clear

  %ul.table.list-display
    - @user.owned_items.publicly.each do |item|
      %li.row{:id => "item_#{item.id}"}
        .cell.img= image_tag item.main_image
        .cell
          %h3
            = link_to(item) do
              = item.name
