#content.grid_15

  %h2 What #{@user.first_name} wants

  %ul.list-display
    - @user.wanted_items.publicly.each do |item|
      %li{:id => "item_#{item.id}"}
        = link_to(item) do
          %h2= item.name
          = image_tag item.main_image
          %p= truncate item.review, :length => 110
          Read review
