%ul.prod-g
  - if @user.items.count > 0
    - @user.items.sort{|a,b| a.name <=> b.name }.each do |item|
      %li
        .cont
          = image_tag item.main_image
          = link_to(item) do
            %h4= item.name
            %p= item.review.truncate (120)
        %ul.stats
          %li= link_to "read more", (item)
  - else
    .error Oops! You need to start adding items!