%h1= @user.name
%br
%p= image_tag @user.main_image

%p= link_to "Edit your Profile", edit_user_registration_path
%p= link_to "Edit your Privacy Settings", edit_user_registration_path
%p= link_to "Edit your Email Settings", edit_user_registration_path

%h1 Your Recent activvity
%h1 Notifications


%h1 Wanted Items
- @user.items.public.wanted.each do |item|
  = link_to public_wanted_item_path item do
    %p= item.name
    %p= image_tag item.main_image_thumb




%h1 Owned Items
- @user.items.public.owned.each do |item|
  = link_to public_owned_item_path item do
    %p= item.name
    %p= image_tag item.main_image_thumb

%h1 Following

%h1 Followed By:
