#content.grid_15
  -#commentedbyCOhelptool
    %h3 Your profile
    This profile contains all of <em>your data</em>. Everything from the things you have and want to your cases, is placed here for your convenience!
    .close

  %h2 What I have
  = link_to "Add", new_item_path + "#create", :id => "action-button", :class => "add button facebox" 
  .clear

  %ul.table.list-display
    - @user.owned_items.each do |item|
      %li.row{:id => "item_#{item.id}"}
        .cell.img= image_tag item.main_image
        .cell
          %h3
            = link_to(item) do
              = item.name
              = privacy_control_for item
        .delete-item
          = link_to [current_user, item],  :remote => true, :method => :delete do
            .cell.close
