- content_for :page_style do
  = include_stylesheets :profile

#content.grid_14
  = render :template => 'items/new_want'

  - if current_user.wanted_items.count > 0
    %ul.table.list-display
      = render :partial => "profile/item", :collection => current_user.wanted_items
  - else
    = render "welcome/want", :layout => "welcome"
  
%aside.grid_6.right
  %article
    %h4
      .fl Suggested People
      = link_to "Refresh", "", :class => 'small fr'
      = link_to "View all", members_path, :class => 'small fr'
      .clear
    %ul.table
      - suggested_people.each do |person| 
        %li.row
          = link_to profile_path(person) do
            .cell.img
              = image_tag person.main_image, :class => 'smallthumb'
            .cell.uname= person.name
          .cell.action
            = follow_link_for person
          .cell.del
            = link_to "", "", :class => "close"
  %article
    %h4 Invite your friends
    = render :partial => "invitations/new"
  
  .clear
