- content_for :page_style do
  = include_stylesheets :profile

= render :template => 'items/new'

%ul.table.list-display
  - @user.owned_items.each do |item|
    %li.row{:id => "item_#{item.id}"}
      .cell.img= image_tag item.main_image
      .cell
        %h3
          = link_to(item) do
            = item.name
            = privacy_control_for item
      .delete-item
        = link_to [current_user, item],  :remote => true, :method => :delete do
          .cell.close