%ul.prod-g
  - if @user.items.count > 0
    - @user.items.sort{|a,b| a.name <=> b.name }.each do |item|
      %li
        .cont
          = image_tag item.main_image
          = link_to(item) do
            %h4= item.name

            .clear
            %p= raw sanitize item.review.truncate (120), :tags => %w(p strong em ul ol li blockquote), :attributes => %w(id class style), :attributes => {}

            - if item.opinion.nil?
              %span{ :class => "neutral" } No opinion
            - elsif item.opinion == "i_recommend_this!"
              %span{ :class => "recommended" }= item.opinion.humanize
            - else
              %span{ :class => "recommended" }= item.opinion.humanize

        %ul.stats
          %li= link_to "read more", (item)
        .clear
  - else
    .error
      - if your_profile?
        Oops! You need to start adding items!
      - else
        Oops! They haven't added any items yet!
        =link_to "Recommend an item to them", ""
        \.
        
  .clear
