%ul.prod-g
  - if @user.items.count > 0
    - @user.items.where(:privacy => 'public').sort{|a,b| a.name <=> b.name }.each do |item|
      %li
        .cont
          %ul.tags
            %li.gld.as-selection-item
              - if item.tag_list.include? 'have'
                = link_to "Have", "#"
              - elsif item.tag_list.include? 'want'
                = link_to "Want", "#"
          = image_tag item.main_image
          = link_to(item) do
            %h4= item.name
            .clear
            %p= html_clean item.review.truncate(120)
        - if item.opinion == "horrible!"
          %div{ :class => "opinion hate" }= item.opinion.humanize
        - elsif item.opinion == "i_recommend_this!"
          %div{ :class => "opinion recommended" }= item.opinion.humanize
        - else
          %div{ :class => "opinion neutral" } No opinion

        %ul.stats
          %li= link_to "read more", (item)
        .clear
  - else
    .error
      - if your_profile?
        You currently have no public items
      - else
        = "#{@user.first_name} #{@user.last_name} has no public items!"
        =link_to "Recommend an item to them", ""
        \.
        
  .clear


- content_for :javascripts do
  :javascript
    $(window).load(function(){
      var $products = $('.prod-g');

      if ($products.has('li').length > 0) {
        $products.masonry({
          itemSelector : '.prod-g > li'
        });
      }
    });
