- content_for :page_style do
  = include_stylesheets :profile

#content.grid_14
  = render :template => 'items/new_want'

  %ul.table.list-display
    - @user.wanted_items.each do |item|
      %li.row{:id => "item_#{item.id}"}
        .cell.img= image_tag item.main_image
        .cell
          %h3
            = link_to(item) do
              = item.name
              = privacy_control_for item
        .delete-item
          = link_to [current_user, item],  :remote => true, :method => :delete do
            .cell.close

%aside.grid_6.right
  %article
    %h4
      .fl Suggested People
      = link_to "Refresh", "", :class => 'small fr'
      = link_to "View all", members_path, :class => 'small fr'
      .clear
    %ul.table
      - suggested_people.each do |person| 
        %li.row
          = link_to profile_path(person) do
            .cell.img
              = image_tag person.main_image, :class => 'smallthumb'
            .cell.uname= person.name
          .cell.action
            = follow_link_for person
          .cell.del
            = link_to "", "", :class => "close"
  %article
    %h4 Invite your friends
    = render :partial => "invitations/new"
  
  .clear