- content_for :page_style do
  = include_stylesheets :yourstuff

#content.grid_13
  %nav#secondary
    %ul
      %li= link_to "Have", have_path(current_user)
      %li.curr= link_to "Want", want_path(current_user)
      %li= link_to "Case", user_cases_path(current_user)
  #main
    = render :template => 'items/new_want'

    %ul.items
      = render :partial => "profile/item", :collection => current_user.wanted_items

= render :partial => "layouts/sidebar"

- content_for :javascripts do
  :javascript
    $(function() {
      $('.edit-item').live('click', function(event){
        event.preventDefault();
        event.stopPropagation();

        var $this = $(this);

        console.log($this);

        $.facebox(function(){
          $.get('/items/'+$this.data('id')+'/edit', function(html){
            $.facebox(html);
          });
        });
      });
    });
