#content.grid_15
  #helptool
    %h3 Your profile
    This profile contains all of <em>your data</em>. Everything from the things you have and want to your cases, is placed here for your convenience!
    .close

  %h2 What I have
  = link_to "Add item", new_item_path + "#create", :id => "action-button", :class => "add button facebox" 
  .clear

  %ul.list-display
    - @user.owned_items.each do |item|
      %li{:id => "item_#{item.id}"}
        .close.delete-item= link_to 'Delete',  [current_user, item],  :remote => true, :method => :delete
        = link_to(item) do
          %h3= item.name
          = image_tag item.main_image
          %p= truncate item.review, :length => 110
          Read review
