- content_for :page_style do
  = include_stylesheets :profile

#content.grid_14
  = render :template => 'cases/new'
  %ul.table.list-display.case-list
    #welcome
      No cases to be found! ...But that's a good thing.
      %p
        Add a case when you have an issue with a service.
        %br
        %span Mobile networks, Health insurance... Anything!
  
%aside.grid_6.right
  %article
    %h4
      .fl Suggested People
      = link_to "Refresh", "", :class => 'small fr'
      = link_to "View all", members_path, :class => 'small fr'
      .clear
    %ul.table
      - suggested_people.each do |person| 
        %li.row
          = link_to profile_path(person) do
            .cell.img
              = image_tag person.main_image, :class => 'smallthumb'
            .cell.uname= person.name
          .cell.action
            = follow_link_for person
          .cell.del
            = link_to "", "", :class => "close"
  %article
    %h4 Invite your friends
    = render :partial => "invitations/new"
  
  .clear
