#copyright.fl
  \©2011 Prizzm -
  = link_to "About", "#"
  \-
  = link_to "Terms", "#"
  \-
  = link_to "Policy", "#"
%ul.fr
  %li
    = link_to "Home", home_path
    \.
  %li
    = link_to "People", "#"
    \.
  %li
    = link_to "Profile", profile_path(current_user)
    \.
  %li
    = link_to "Account", "#"
    \.
  %li
    = link_to "Logout", destroy_user_session_url
  .clear
.clear
#hiddenlpsubmitdiv{:style => "display: none; "}
:javascript
  try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}
  
    

