%header
  %h1.grid_2
    = link_to 'Prizzm'
  = form_tag '', :class => "grid_6" do
    = text_field_tag :search, nil, :class => "jq_watermark grid_6", :id => "product-search-input", :title => "Keywords, Tags, Items, SKU..."
    = submit_tag "ADD NEW ITEM"
- if signed_in?
  %nav.grid_4
    %ul
      %li= link_to 'Dashboard', home_url, :class => "active"
      %li= link_to 'Browse'


%script(type="text/html" id="product-autocomplete-result-template")
  .product-autocomplete-result
    .cell.img
      %img(src='{{ main_image_thumb }}')
    .cell
      %h2= link_to '{{ label }}', CGI::unescape(product_path('{{ id }}'))
      .clear
      = link_to '{{ customer_count }} people have this', '#'
      %span Rating {{ rating }}
      %div{:id => "stars-wrapper-{{ id }}"}
        %select= options_for_select([1, 2, 3, 4, 5])
    .cell 
      = link_to "I have this", '#', :class => "button"
      = link_to "I want this", '#', :class => "button"

:javascript
  $(document).ready(function(){

    //$('.product-autocomplete-result a').live( 'click', function(){
      //console.log($(this).attr('href'));
      //console.log(this.href);
      //window.location = this.href;
    //});

    $.ui.autocomplete.prototype._renderItem = function( ul, item ) {
      var template = document.getElementById('product-autocomplete-result-template').innerHTML;
      var parsed_template = _.template(template, item);
      var target_option = 'value="' + item.rating + '"';    
      var selected_option = target_option + ' selected="selected"';
      var autocomplete_html = parsed_template.replace(target_option, selected_option).replace(/^\s+|\s+$/g, '') ;
      var node = '<a>'+autocomplete_html+'</a>';
      console.log(node);
      console.log($(node).html());
      var returnVal = $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append('<a>' + autocomplete_html+'</a>')
        .appendTo( ul );
      $("#stars-wrapper-"+item.id).stars({ inputType: "select", disabled: true });
      return returnVal;
    };

    $('#product-search-input').autocomplete({
      delay: 50,
      source: function(request, response) {
        $.ajax({
          url: "#{search_products_path}",
          dataType: 'json',
          data: request,
          success: function(data) {
            if (data.length < 1) {
              $('#product-search-submit-button').show();
            } else {
              $('#product-search-submit-button').hide();
            }
            response(data);
          }
        });
      },
      select: function( event, ui ) {
      // add new item when selected
        console.log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      }
   })
  });


%article#own
  %header.clearfix
    %h1 Items you own
  .table#have-list.connectedSortable(data-possession='have')
    = render :partial => "home/owned_item", :collection => @user.owned_items.recently_updated, :as => :item

%article#own
  %header.clearfix
    %h1 Wishlist
  .table#want-list.connectedSortable(data-possession='want')
    = render :partial => "home/wanted_item", :collection => @user.wanted_items.recently_updated, :as => :item

:javascript
  $(document).ready(function(){
    //http://devblog.foliotek.com/2009/07/23/make-table-rows-sortable-using-jquery-ui-sortable/
    var fixHelper = function(e, ui) {
      ui.children().each(function() {
        $(this).width($(this).width());
      });
      return ui;
    };

    var getStartOrder = function(event, ui){
      this.old_table_order = $(this).sortable('toArray').toString();
      this.old_table_order = $(this).sortable('toArray');
    };

    var saveOrder = function(event,ui){
      var new_table_order = $(this).sortable('toArray');
      var user_id = $('table.interactions').attr('data-user');
      var possession_status = $(this).data('possession');
      var moved_item_id = $(ui.item).data('itemid');
      console.log(moved_item_id);
      $.post('/items/sort', {
        new_item_order: new_table_order, 
        old_item_order: this.old_table_order, 
        user_id: user_id,
        id: moved_item_id,
        possession_status: possession_status 
      }) //post order to rails
      $(this).find('.item_info').removeClass('hover');
      console.log("new poss: " + possession_status);
    };

    $('#have-list, #want-list').sortable({
      helper: fixHelper,
      start: getStartOrder, 
      update: saveOrder,
      connectWith: ".connectedSortable"
    }).disableSelection();

  });

