%h1.grid_2
  = link_to 'Prizzm', home_url
#search.grid_6
  = text_field_tag :search, nil, :class => "jq_watermark grid_6", :id => "product-search-input", :title => "Find products to add..."
  = link_to "ADD NEW ITEM", new_item_path + "#create", :id => 'product-search-submit-button', :class => "facebox", :style => 'display: none'
  = submit_tag "", :id => 'mag-glass'

- if signed_in?
  %nav.grid_4
    %ul
      %li= link_to 'Dashboard', home_url, :class => "active"
      %li= link_to 'Browse'
      %li= link_to 'Live feed'

%script(type="text/html" id="product-autocomplete-result-template")
  .product-autocomplete-result
    .cell.img
      = link_to "{{ main_image_thumb }}" do
        %img(src='{{ main_image_thumb }}')
    .cell.desc
      %h2= link_to '{{ name }}', CGI::unescape(product_path('{{ id }}'))
      .clear
      = link_to '{{ customer_count }} people have this', '#'
      %div{:id => "stars-wrapper-{{ id }}", :class => "autocomplete-rating rating", :disabled => "disable"}
        %select= options_for_select([1, 2, 3, 4, 5])
    .cell 
      = link_to "I have this", new_item_path + "#owned", :class => "button facebox"
      = link_to "I want this", new_item_path + "#wanted", :class => "button facebox"

- content_for :jquery do
  :javascript
    $(document).ready(function(){
      function autocompleteFormatter(query, results) {
        var template = document.getElementById('product-autocomplete-result-template').innerHTML;
        
        return _.map(results, function(result){
          var product = result.raw;
          var parsed_template = _.template(template, product);
          var target_option = 'value="' + product.rating + '"';    
          var selected_option = target_option + ' selected="selected"';
          //rel hack until 3.1 is stable
          // https://github.com/rails/rails/pull/1796
          var autocomplete_html = parsed_template.replace(target_option, selected_option);
          return $(autocomplete_html).stars().html();
        });
      }
		
      

      YUI().use('autocomplete', 'autocomplete-highlighters', function(Y){
        Y.one('body').addClass('yui3-skin-sam');

        var inputNode = Y.one('#product-search-input');

        inputNode.plug(Y.Plugin.AutoComplete, {
          resultHighlighter: 'phraseMatch',
          source: "#{search_products_path}?query={query}",
          queryDelay: 50,
          resultFormatter: autocompleteFormatter,
          resultTextLocator: 'name'
        });

        inputNode.ac.on('select', function(event){
          console.log($.dump(event));
        });

        inputNode.ac.on('results', function(event){
            // Initialize facebox model windows if they are used

            if (event.results.length < 1) {
              $('#mag-glass').hide();
              $('#product-search-submit-button').show();
            } else {
              $('#product-search-submit-button').hide();
              $('#mag-glass').show();
            }
        });
      });

      
      
    });


