%header
  %h1.grid_2
    = link_to 'Prizzm'
  = form_tag '', :class => "grid_6" do
    = text_field_tag :search, nil, :class => "jq_watermark grid_6", :id => "product-search-input", :title => "Keywords, Tags, Items, SKU..."
    = submit_tag "ADD NEW ITEM", :id => 'product-search-submit-button', :style => 'display: none'
- if signed_in?
  %nav.grid_4
    %ul
      %li= link_to 'Dashboard', home_url, :class => "active"
      %li= link_to 'Browse'

%script(type="text/html" id="product-autocomplete-result-template")
  .product-autocomplete-result
    .cell.img
      %img(src='{{ main_image_thumb }}')
    .cell
      %h2= link_to '{{ label }}', CGI::unescape(product_path('{{ id }}'))
      .clear
      = link_to '{{ customer_count }} people have this', '#'
      %span Rating {{ rating }}
      %div{:id => "stars-wrapper-{{ id }}"}
        %select= options_for_select([1, 2, 3, 4, 5])
    .cell 
      = link_to "I have this", '#', :class => "button"
      = link_to "I want this", '#', :class => "button"

:javascript
  $(document).ready(function(){

    $('#product-search-input').autocomplete({

    });
  });
:plain
    $.ui.autocomplete.prototype._renderItem = function( ul, item ) {
      var template = document.getElementById('product-autocomplete-result-template').innerHTML;
      var parsed_template = _.template(template, item);
      var target_option = 'value="' + item.rating + '"';    
      var selected_option = target_option + ' selected="selected"';
      var autocomplete_html = parsed_template.replace(target_option, selected_option).replace(/^\s+|\s+$/g, '') ;
      var returnVal = $( "<li></li>" )
        .data( "item.autocomplete", item )
        //.append(autocomplete_html)
        .append('<a>Something</a>')
        .appendTo( ul );
      $("#stars-wrapper-"+item.id).stars({ inputType: "select", disabled: true });
      return returnVal;
    };

    $('#product-search-input').autocomplete({
      delay: 50,
      source: function(request, response) {
        $.ajax({
          url: "#{search_products_path}",
          dataType: 'json',
          data: request,
          success: function(data) {
            if (data.length < 1) {
              $('#product-search-submit-button').show();
            } else {
              $('#product-search-submit-button').hide();
            }
            response(data);
          }
        });
      },
      select: function( event, ui ) {
      // add new item when selected
        console.log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      }
   })
  });



