.fl
  %h1.fl= link_to "prizzm", "/"
  -#= link_to "5", "", :class => "fl usernotif"
  .clear
%nav.fr
  %ul
    %li= link_to "Home", home_path
    %li= link_to "People", "#"
    %li= link_to "Profile", profile_path(current_user), :class => tab_for(products_path)

    %li.account
      = link_to "#", :class => "account" do
        Account
        %small &#x25BC;
      %ul.subnav
        %li.user
          = image_tag current_user.main_image, :class => "fl"
          = link_to current_user.name, profile_path(current_user), :class => "username"
          = link_to "Edit Profile", edit_user_registration_path(:back => request.url), :class => "facebox"
          .clear
        %li= link_to "Settings", "#"
        %li= link_to "Logout", destroy_user_session_path

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
    });


