= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'
= javascript_include_tag "http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js" 
= include_javascripts :app
= javascript_include_tag 'jquery_ujs', 'jquery.form.js', 'jquery.remotipart.js'
= hoptoad_javascript_notifier
= yield :javascripts
= yield :jquery
