- if current_user
  = hidden_field_tag "omniauth_tt_login_path", omniauth_authorize_path(User.new, 'twitter')
  = hidden_field_tag "omniauth_fb_login_path", omniauth_authorize_path(User.new, 'facebook')
  = hidden_field_tag "is_signed_in_fb", !current_user.access_token.blank?
  = hidden_field_tag "is_signed_in_tt", !current_user.tt_token.blank?
  = hidden_field_tag "processing_fb_id", ""
  = hidden_field_tag "processing_tt_id", ""
