%nav#system
  - if user_signed_in?
    %ul
      %li= link_to "find people", people_find_path
      %li= link_to "profile", profile_path(current_user)
      %li.account
        = link_to "#", :class => "account" do
          account
          %small &#x25BC;
        %ul.subnav
          %li.user
            = image_tag current_user.main_image, :class => "fl thumb"
            = link_to current_user.name, profile_path(current_user), :class => "username"
            = link_to "Edit Profile", edit_user_registration_path(:back => request.url), :class => "facebox"
            .clear
          %li= link_to "Logout", destroy_user_session_path
  - else
    %ul
      %li= link_to "login", home_path