!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = favicon_link_tag

  %body
    #prizzmbar

    #container.container_24
      = yield

      %footer
        = render "layouts/footer"
        - flash.each do |type, value|
          .flash{ :class => type.to_s }
            = value
    .clear
    
    = render 'layouts/social_utils'
    = render 'layouts/javascripts'

