= render 'layouts/app_header'

#container.container_24
  = yield
  
  %footer
    = render "layouts/footer"
    - flash.each do |type, value|
      .flash{ :class => type.to_s }
        = value
.clear

= render 'layouts/social_utils'
= render 'layouts/javascripts'

