!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = favicon_link_tag
    = include_stylesheets :app
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'
    = include_javascripts :app
    = hoptoad_javascript_notifier
    = yield :javascripts
  %body
    #top
      #topContent
        #logo
          = link_to image_tag( '/images/prizzm-logo.png', { :width=>"168", :height=>"42", :alt=>"Prizzm" }), root_url
        - if signed_in?
          #user_menu
            %ul
              %li= link_to 'Home', home_url, :class => "active"
              %li= link_to 'Contact Customer Service', '#'
              %li
                = link_to current_user.name, edit_user_registration_path
                = link_to 'Logout', destroy_user_session_url
  #header
    - flash.each do |type, value|
      .flash{ :class => type.to_s }
        = value     
  #container
    #main
      - if current_user
        = hidden_field_tag "omniauth_tt_login_path", omniauth_authorize_path(User.new, 'twitter')
        = hidden_field_tag "omniauth_fb_login_path", omniauth_authorize_path(User.new, 'facebook')
        = hidden_field_tag "is_signed_in_fb", !current_user.access_token.blank?
        = hidden_field_tag "is_signed_in_tt", !current_user.tt_token.blank?
        = hidden_field_tag "processing_fb_id", ""
        = hidden_field_tag "processing_tt_id", ""
      = yield
  #footer
    #footerContent.clear.clearfix
      #copyright Prizzm &copy; 2011
      #footerLinks
        = link_to 'sitemap', '#'
        sitemap | privacy policy | about
  /= render 'layouts/google_analytics'
