= render 'layouts/app_header'

#container.container_24
  %aside.grid_5.left
    %h1#logo= link_to "prizzm", home_path
    - if user_signed_in?
      = render :partial => "layouts/logged_in"
    - else
      = render :partial => "layouts/pitch"
  = yield
  .clear
  
%footer.container_24
  = render "layouts/footer"
  - flash.each do |type, value|
    .flash{ :class => type.to_s }
      = value
  .clear

= render 'layouts/social_utils'
= render 'layouts/javascripts'
