= render "layouts/app_header"
     
#container.container_24
  #main
    .grid_14
      %ul.action-menu
        %li= link_to "Have", home_path, :class => tab_for(home_path)
        %li= link_to "Want", want_path(current_user), :class => tab_for(want_path(current_user))
        %li= link_to "Cases", user_cases_path(current_user), :class => tab_for(user_cases_path(current_user))
    = yield
    .clear

%footer
  = render "layouts/footer"
  - flash.each do |type, value|
    .flash{ :class => type.to_s }
      = value

= render 'layouts/social_utils'
= render 'layouts/javascripts'

