!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = favicon_link_tag
    = include_stylesheets :app
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'
    = include_javascripts :app
    = hoptoad_javascript_notifier
    = yield :javascripts
    = yield :page_style
  %body
    #headerBar
    #userBar
    #main.container_12
      %header
        = render 'layouts/header'
      #userBit
        = render 'layouts/userbit'
      .clear  
 
      - if current_user
        = hidden_field_tag "omniauth_tt_login_path", omniauth_authorize_path(User.new, 'twitter')
        = hidden_field_tag "omniauth_fb_login_path", omniauth_authorize_path(User.new, 'facebook')
        = hidden_field_tag "is_signed_in_fb", !current_user.access_token.blank?
        = hidden_field_tag "is_signed_in_tt", !current_user.tt_token.blank?
        = hidden_field_tag "processing_fb_id", ""
        = hidden_field_tag "processing_tt_id", ""
      = yield

      .clear
      %footer
        #copyright
          Copyright Prizzm 2011. Brought to you by a group of whitty guys.
          - flash.each do |type, value|
            .flash{ :class => type.to_s }
              = value 
  /= render 'layouts/google_analytics'
