!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = favicon_link_tag
    
  %body
    - if signed_in?
      #prizzmbar
    - else
      #blackbar
    #hbar
      
    #container.container_24
      %header
        - if signed_in?
          = render "layouts/header"
        - else
          = render "layouts/header_signed_out"
      #main
        = yield
      .clear

    %footer
      = render "layouts/footer"
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value 
    = render 'layouts/social_utils'
    = render 'layouts/javascripts'
