!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = favicon_link_tag
    
  %body
    #cbbg
    - if signed_in?
      #prizzmbar
    - else
      #blackbar
    
      
    #container.container_24
      %header
        - if signed_in?
          = render "layouts/header"
        - else
          = render "layouts/header_signed_out"
      #main
        - if user_signed_in?
          %aside.grid_4.left
            .userbit
              = image_tag current_user.main_image, :class => "fl thumb"
              .fr
                .uname= current_user.name
                = link_to "Edit Profile"
              .clear
            %nav
              %article
                %ul
                  %li= link_to "Welcome", welcome_path, :class => tab_for(welcome_path)
                  %li= link_to "Live Feed", dashboard_path, :class => tab_for(dashboard_path)
              %article
                %h4 Public
                %ul
                  %li= link_to "Cases", cases_path, :class => tab_for(cases_path)
              %article
                %h4 Personal
                %ul
                  %li= link_to "Have", have_path(current_user), :class => tab_for(have_path(current_user))
                  %li= link_to "Want", want_path(current_user), :class => tab_for(want_path(current_user))
                  /%li= link_to "Case", case_path(current_user), :class => tab_for(case_path(current_user))
        = yield
        .clear
      .clear

    %footer
      = render "layouts/footer"
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value

    = render 'layouts/social_utils'
    = render 'layouts/javascripts'

