!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = favicon_link_tag
    = render 'layouts/stylesheets'
    
  %body
    #prizzmbar
    #hbar
      
    #container.container_24
      %header
        = render "layouts/header"
      #main
        = yield
      .clear

    %footer
      = render "layouts/footer"
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value 
    = render 'layouts/social_utils'
    = render 'layouts/javascripts'
