!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = favicon_link_tag
    
  %body
    #cbbg
    - if signed_in?
      #prizzmbar
    - else
      #blackbar
    
      
    #container.container_24
      %header
        - if signed_in?
          = render "layouts/header"
        - else
          = render "layouts/header_signed_out"
      #main
        = yield
      .clear


      %aside.grid_7
        %article
          %h4 Product
          = form_for @product.find do |f|
            = f.text_field :find, :placeholder => "Find Product"
          = image_tag @product.mainimage, :class => "itemthumb fl"
          %h5 @product.name
          .clear
        %article
          %h4 Company
          = form_for @company.find do |f|
            = f.text_field :find, :placeholder => "Find Company"
          = image_tag @company.mainimage, :class => "compthumb fl"
          %h5 @Company.name
          .clear
        %article
          %h4 Status
          = form_for @case.status do |f|
          
        / Publish
        / Share

    %footer
      = render "layouts/footer"
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value

    = render 'layouts/social_utils'
    = render 'layouts/javascripts'

