!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = render :partial => 'layouts/corporate_twitter_bootstrap' 
  %body
    .topbar
      .fill
        .container
          - if company_signed_in?
            = link_to "Welcome #{current_company.name}", company_root_path, :class => 'brand'
            %ul.nav
              %li{:class => active_if_current(company_root_path)}= link_to "Home", company_root_path
              %li{:class => active_if_current(edit_company_registration_path)}= link_to "Edit Profile", edit_company_registration_path
              %li= link_to "Logout", destroy_company_session_path
            %p.pull-right{:style => 'color: white;'} Logged in as #{current_company.name} - #{current_company.email}

    .container
      .content

        - flash.each do |type, value|
          .flash{ :class => "alert-message #{type.to_s}" }
            = value

        - if company_signed_in?
          %ul.tabs
            %li{:class => active_if_current(company_root_path)}= link_to "Home", company_root_path
            %li{:class => active_if_current(company_clients_path(current_company))}= link_to "Clients", company_clients_path(current_company)
            %li{:class => active_if_current(company_products_path(current_company))}= link_to "Products", company_products_path(current_company)
            %li{:class => active_if_current(incentives_path)}= link_to "Incentives", incentives_path
            %li{:class => active_if_current(prizzm_invitations_path)}= link_to "Invitations", prizzm_invitations_path
            %li{:class => active_if_current(prizzm_mail_templates_path)}= link_to "Mail Templates", prizzm_mail_templates_path

        = yield


= render 'layouts/javascripts'
:javascript
  $(document).ready(function() { 
    $("table").tablesorter({ 
        // sort on the first column and third column, order asc 
        sortList: [[1,0],[0,0]] 
    }); 
  }); 
= javascript_include_tag 'jquery.form.js', 'jquery.remotipart.js'

