!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = include_stylesheets :landing
    = favicon_link_tag
    
  %body
    #container.container_24
      %h1 prizzm
      %sub 
       
      #main
        = yield
        .prizdesc
          %h2 Get with the program
          %p
            Prizzm is a community of people who share their products and issues with their brands &amp; services.
          .clear
          = link_to "Register now", "/accounts/register", :id => "signup", :class => "button blue"
          
        .clear
      %ul.logsoc
        - if resource_name == 'user'
          %li= link_to image_tag('/images/landing/fb-login-button.png'), omniauth_authorize_path(resource_name, :facebook)
          %li= link_to image_tag('/images/landing/login-with-twitter.png'), omniauth_authorize_path(resource_name, :twitter)
      
      %footer 
        ©2011 Prizzm 
        \-
        = link_to "About", "#"
        \-
        = link_to "Terms", "#"
        \-
        = link_to "Privacy", "#"
        \-
        - if resource_name == 'user'
          = link_to "Company panel", new_company_session_path 
    
    = render 'layouts/javascripts'   
  </body>
</html>
