!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title  Prizzm
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = include_stylesheets :profile 
    = include_stylesheets :profile_fix unless signed_in?
    = favicon_link_tag
    
  %body
    - if signed_in?
      #prizzmbar
    - else
      #blackbar
    #hbar

    #subbar

    #container.container_24
      %header
        - if signed_in?
          = render "layouts/header"
        - else
          = render "layouts/header_signed_out"
      #main
        %header
          = image_tag @user.main_image, :class => "grid_4 profilePic", :alt => "" 
          %h2.grid_5= @user.name
          .grid_14
            .buttons
              - if your_profile?
                = link_to "Edit profile", edit_user_registration_path, :class => "edit button red"
              - else
                = follow_link_for @user

        %ul#socialbit.grid_19
          %li
            %h3 Following #{pluralize @user.following_users_count, "Person"}
            = link_to "View all", '#'
          %li
            %h3 Followed by #{pluralize @user.followers_count, "Person"}
            = link_to "View all", '#'
          %li
            %h3 Following #{pluralize @user.following_companies_count, "Company"}
            = link_to "View all", '#'
          %li
            %h3 Following #{pluralize @user.following_products_count, "Product"}
            = link_to "View all", '#'
      
        %aside.grid_4
          %nav
            - if your_profile?
              = render 'layouts/profile/user_menu'
            - else
              = render 'layouts/profile/other_menu'

        = yield

        %aside.grid_5
          %article
            %h4 About #{@user.first_name}
            Short about me?
          %article
            %h4 Notes
            Public notes for profile readers.

        .clear

    %footer
      = render "layouts/footer"
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value 
    = render 'layouts/social_utils'
    = render 'layouts/javascripts'
